In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import numpy as np
from scipy.stats import zscore

%matplotlib inline

In [2]:
day=pd.read_csv('../data/dailydata.csv')
pd.set_option('display.max_columns', None)
day.head()

C:\Users\fromK\AppData\Local\Temp\ipykernel_11980\3338710933.py:1: DtypeWarning: Columns (17,19,21,23,25,27,29,31,33,35,37,39,41,43,49,51,53,55,59,61,63,65,67,69,71,73,75,77,79,93,99,101,103,105,107,109,111,113,115,117,119,121) have mixed types. Specify dtype option on import or set low_memory=False.
  day=pd.read_csv('../data/dailydata.csv')

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,SNWD,SNWD_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,ACMH,ACMH_ATTRIBUTES,ACSH,ACSH_ATTRIBUTES,ADPT,ADPT_ATTRIBUTES,ASLP,ASLP_ATTRIBUTES,ASTP,ASTP_ATTRIBUTES,AWBT,AWBT_ATTRIBUTES,AWND,AWND_ATTRIBUTES,DAPR,DAPR_ATTRIBUTES,FMTM,FMTM_ATTRIBUTES,FRGB,FRGB_ATTRIBUTES,FRGT,FRGT_ATTRIBUTES,FRTH,FRTH_ATTRIBUTES,GAHT,GAHT_ATTRIBUTES,MDPR,MDPR_ATTRIBUTES,PGTM,PGTM_ATTRIBUTES,PSUN,PSUN_ATTRIBUTES,RHAV,RHAV_ATTRIBUTES,RHMN,RHMN_ATTRIBUTES,RHMX,RHMX_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TSUN,TSUN_ATTRIBUTES,WDF1,WDF1_ATTRIBUTES,WDF2,WDF2_ATTRIBUTES,WDF5,WDF5_ATTRIBUTES,WDFG,WDFG_ATTRIBUTES,WDFM,WDFM_ATTRIBUTES,WESD,WESD_ATTRIBUTES,WSF1,WSF1_ATTRIBUTES,WSF2,WSF2_ATTRIBUTES,WSF5,WSF5_ATTRIBUTES,WSFG,WSFG_ATTRIBUTES,WSFM,WSFM_ATTRIBUTES,WT01,WT01_ATTRIBUTES,WT02,WT02_ATTRIBUTES,WT03,WT03_ATTRIBUTES,WT04,WT04_ATTRIBUTES,WT05,WT05_ATTRIBUTES,WT06,WT06_ATTRIBUTES,WT07,WT07_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT10,WT10_ATTRIBUTES,WT11,WT11_ATTRIBUTES,WT13,WT13_ATTRIBUTES,WT14,WT14_ATTRIBUTES,WT15,WT15_ATTRIBUTES,WT16,WT16_ATTRIBUTES,WT17,WT17_ATTRIBUTES,WT18,WT18_ATTRIBUTES,WT19,WT19_ATTRIBUTES,WT21,WT21_ATTRIBUTES,WT22,WT22_ATTRIBUTES,WV03,WV03_ATTRIBUTES
0,USW00013897,1948-01-01,36.11054,-86.68815,178.9,"NASHVILLE INTERNATIONAL AIRPORT, TN US",678.0,",,0,",0.0,"T,,X,",0.0,",,X,",183.0,",,0",-11.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00013897,1948-01-02,36.11054,-86.68815,178.9,"NASHVILLE INTERNATIONAL AIRPORT, TN US",0.0,"T,,0,",0.0,"T,,X,",0.0,",,X,",17.0,",,0",-17.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00013897,1948-01-03,36.11054,-86.68815,178.9,"NASHVILLE INTERNATIONAL AIRPORT, TN US",0.0,",,0,",0.0,",,X,",0.0,",,X,",94.0,",,0",-33.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00013897,1948-01-04,36.11054,-86.68815,178.9,"NASHVILLE INTERNATIONAL AIRPORT, TN US",0.0,"T,,0,",0.0,",,X,",0.0,",,X,",89.0,",,0",17.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00013897,1948-01-05,36.11054,-86.68815,178.9,"NASHVILLE INTERNATIONAL AIRPORT, TN US",0.0,",,0,",0.0,",,X,",0.0,",,X,",89.0,",,0",-22.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
day2=day.drop(columns=['STATION', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'NAME', 'ACMH', 'ACMH_ATTRIBUTES', 'ACSH', 'ACSH_ATTRIBUTES', 'FRGB', 'FRGB_ATTRIBUTES', 'FRGT','FRGT_ATTRIBUTES', 'FRTH', 'FRTH_ATTRIBUTES', 'GAHT', 'GAHT_ATTRIBUTES', 'WDF1', 'WDF1_ATTRIBUTES', 'WDF2', 'WDF2_ATTRIBUTES', 'WDF5', 'WDF5_ATTRIBUTES', 'WDFG', 'WDFG_ATTRIBUTES', 'WDFM', 'WDFM_ATTRIBUTES', 'WSF1', 'WSF1_ATTRIBUTES', 'WSF2', 'WSF2_ATTRIBUTES', 'WSF5', 'WSF5_ATTRIBUTES', 'WT01', 'WT01_ATTRIBUTES', 'WT02', 'WT02_ATTRIBUTES', 'WT06', 'WT06_ATTRIBUTES', 'WT07', 'WT07_ATTRIBUTES', 'WT19', 'WT19_ATTRIBUTES', 'WT21', 'WT21_ATTRIBUTES', 'WT22', 'WT22_ATTRIBUTES', 'PGTM', 'PGTM_ATTRIBUTES', 'ADPT', 'ADPT_ATTRIBUTES', 'ASLP', 'ASLP_ATTRIBUTES', 'ASTP', 'ASTP_ATTRIBUTES', 'AWBT', 'AWBT_ATTRIBUTES'])
day2.head()

,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,SNWD,SNWD_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,AWND,AWND_ATTRIBUTES,DAPR,DAPR_ATTRIBUTES,FMTM,FMTM_ATTRIBUTES,MDPR,MDPR_ATTRIBUTES,PSUN,PSUN_ATTRIBUTES,RHAV,RHAV_ATTRIBUTES,RHMN,RHMN_ATTRIBUTES,RHMX,RHMX_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TSUN,TSUN_ATTRIBUTES,WESD,WESD_ATTRIBUTES,WSFG,WSFG_ATTRIBUTES,WSFM,WSFM_ATTRIBUTES,WT03,WT03_ATTRIBUTES,WT04,WT04_ATTRIBUTES,WT05,WT05_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT10,WT10_ATTRIBUTES,WT11,WT11_ATTRIBUTES,WT13,WT13_ATTRIBUTES,WT14,WT14_ATTRIBUTES,WT15,WT15_ATTRIBUTES,WT16,WT16_ATTRIBUTES,WT17,WT17_ATTRIBUTES,WT18,WT18_ATTRIBUTES,WV03,WV03_ATTRIBUTES
0,1948-01-01,678.0,",,0,",0.0,"T,,X,",0.0,",,X,",183.0,",,0",-11.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,1.0,",,X",NaN,NaN
1,1948-01-02,0.0,"T,,0,",0.0,"T,,X,",0.0,",,X,",17.0,",,0",-17.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN
2,1948-01-03,0.0,",,0,",0.0,",,X,",0.0,",,X,",94.0,",,0",-33.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1948-01-04,0.0,"T,,0,",0.0,",,X,",0.0,",,X,",89.0,",,0",17.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN
4,1948-01-05,0.0,",,0,",0.0,",,X,",0.0,",,X,",89.0,",,0",-22.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
day2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27969 entries, 0 to 27968
Data columns (total 65 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DATE             27969 non-null  object
 1   PRCP             27966 non-null  float64
 2   PRCP_ATTRIBUTES  27966 non-null  object
 3   SNOW             27541 non-null  float64
 4   SNOW_ATTRIBUTES  27541 non-null  object
 5   SNWD             24684 non-null  float64
 6   SNWD_ATTRIBUTES  24684 non-null  object
 7   TMAX             27968 non-null  float64
 8   TMAX_ATTRIBUTES  27968 non-null  object
 9   TMIN             27968 non-null  float64
 10  TMIN_ATTRIBUTES  27968 non-null  object
 11  AWND             14819 non-null  float64
 12  AWND_ATTRIBUTES  14819 non-null  object
 13  DAPR             1 non-null      float64
 14  DAPR_ATTRIBUTES  1 non-null      object
 15  FMTM             10162 non-null  float64
 16  FMTM_ATTRIBUTES  10162 non-null  object
 17  MDPR             1 non-null      float64
 18  MDPR_ATTRIBUTES  1 non-null      object
 19  PSUN             6940 non-null   float64
 20  PSUN_ATTRIBUTES  6940 non-null   object
 21  RHAV             6599 non-null   float64
 22  RHAV_ATTRIBUTES  6599 non-null   object
 23  RHMN             6599 non-null   float64
 24  RHMN_ATTRIBUTES  6599 non-null   object
 25  RHMX             6599 non-null   float64
 26  RHMX_ATTRIBUTES  6599 non-null   object
 27  TAVG             6811 non-null   float64
 28  TAVG_ATTRIBUTES  6811 non-null   object
 29  TSUN             12652 non-null  float64
 30  TSUN_ATTRIBUTES  12652 non-null  object
 31  WESD             5987 non-null   float64
 32  WESD_ATTRIBUTES  5987 non-null   object
 33  WSFG             9671 non-null   float64
 34  WSFG_ATTRIBUTES  9671 non-null   object
 35  WSFM             3833 non-null   float64
 36  WSFM_ATTRIBUTES  3833 non-null   object
 37  WT03             3933 non-null   float64
 38  WT03_ATTRIBUTES  3933 non-null   object
 39  WT04             336 non-null    float64
 40  WT04_ATTRIBUTES  336 non-null    object
 41  WT05             423 non-null    float64
 42  WT05_ATTRIBUTES  423 non-null    object
 43  WT08             7421 non-null   float64
 44  WT08_ATTRIBUTES  7421 non-null   object
 45  WT09             50 non-null     float64
 46  WT09_ATTRIBUTES  50 non-null     object
 47  WT10             1 non-null      float64
 48  WT10_ATTRIBUTES  1 non-null      object
 49  WT11             13 non-null     float64
 50  WT11_ATTRIBUTES  13 non-null     object
 51  WT13             2716 non-null   float64
 52  WT13_ATTRIBUTES  2716 non-null   object
 53  WT14             728 non-null    float64
 54  WT14_ATTRIBUTES  728 non-null    object
 55  WT15             28 non-null     float64
 56  WT15_ATTRIBUTES  28 non-null     object
 57  WT16             9851 non-null   float64
 58  WT16_ATTRIBUTES  9851 non-null   object
 59  WT17             38 non-null     float64
 60  WT17_ATTRIBUTES  38 non-null     object
 61  WT18             1233 non-null   float64
 62  WT18_ATTRIBUTES  1233 non-null   object
 63  WV03             8 non-null      float64
 64  WV03_ATTRIBUTES  8 non-null      object
dtypes: float64(32), object(33)
memory usage: 13.9+ MB

In [5]:
day3=day2.drop(columns=['DAPR','DAPR_ATTRIBUTES', 'MDPR', 'MDPR_ATTRIBUTES', 'WT10', 'WT10_ATTRIBUTES'])
day3.head()

,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,SNWD,SNWD_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,AWND,AWND_ATTRIBUTES,FMTM,FMTM_ATTRIBUTES,PSUN,PSUN_ATTRIBUTES,RHAV,RHAV_ATTRIBUTES,RHMN,RHMN_ATTRIBUTES,RHMX,RHMX_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TSUN,TSUN_ATTRIBUTES,WESD,WESD_ATTRIBUTES,WSFG,WSFG_ATTRIBUTES,WSFM,WSFM_ATTRIBUTES,WT03,WT03_ATTRIBUTES,WT04,WT04_ATTRIBUTES,WT05,WT05_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT11,WT11_ATTRIBUTES,WT13,WT13_ATTRIBUTES,WT14,WT14_ATTRIBUTES,WT15,WT15_ATTRIBUTES,WT16,WT16_ATTRIBUTES,WT17,WT17_ATTRIBUTES,WT18,WT18_ATTRIBUTES,WV03,WV03_ATTRIBUTES
0,1948-01-01,678.0,",,0,",0.0,"T,,X,",0.0,",,X,",183.0,",,0",-11.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,1.0,",,X",NaN,NaN
1,1948-01-02,0.0,"T,,0,",0.0,"T,,X,",0.0,",,X,",17.0,",,0",-17.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN
2,1948-01-03,0.0,",,0,",0.0,",,X,",0.0,",,X,",94.0,",,0",-33.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1948-01-04,0.0,"T,,0,",0.0,",,X,",0.0,",,X,",89.0,",,0",17.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN
4,1948-01-05,0.0,",,0,",0.0,",,X,",0.0,",,X,",89.0,",,0",-22.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
day3['DATE']=pd.to_datetime(day3['DATE'])

In [7]:
day4=day3.loc[day3['DATE']>='1974-07-01'].reset_index(drop=True)
day4.head()

,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,SNWD,SNWD_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,AWND,AWND_ATTRIBUTES,FMTM,FMTM_ATTRIBUTES,PSUN,PSUN_ATTRIBUTES,RHAV,RHAV_ATTRIBUTES,RHMN,RHMN_ATTRIBUTES,RHMX,RHMX_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TSUN,TSUN_ATTRIBUTES,WESD,WESD_ATTRIBUTES,WSFG,WSFG_ATTRIBUTES,WSFM,WSFM_ATTRIBUTES,WT03,WT03_ATTRIBUTES,WT04,WT04_ATTRIBUTES,WT05,WT05_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT11,WT11_ATTRIBUTES,WT13,WT13_ATTRIBUTES,WT14,WT14_ATTRIBUTES,WT15,WT15_ATTRIBUTES,WT16,WT16_ATTRIBUTES,WT17,WT17_ATTRIBUTES,WT18,WT18_ATTRIBUTES,WV03,WV03_ATTRIBUTES
0,1974-07-01,0.0,",,0,",0.0,",,0,",0.0,",,0,",306.0,",,0",189.0,",,0",NaN,NaN,NaN,NaN,97.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,846.0,",,X",NaN,NaN,103.0,",,X",67.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1974-07-02,0.0,",,0,",0.0,",,0,",0.0,",,0,",322.0,",,0",189.0,",,0",NaN,NaN,NaN,NaN,86.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,756.0,",,X",NaN,NaN,108.0,",,X",72.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1974-07-03,0.0,",,0,",0.0,",,0,",0.0,",,0,",339.0,",,0",194.0,",,0",NaN,NaN,NaN,NaN,92.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,804.0,",,X",NaN,NaN,77.0,",,X",49.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1974-07-04,18.0,",,0,",0.0,",,0,",0.0,",,0,",322.0,",,0",206.0,",,0",NaN,NaN,NaN,NaN,65.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,570.0,",,X",NaN,NaN,175.0,",,X",107.0,",,X",1.0,",,0",NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN
4,1974-07-05,0.0,",,0,",0.0,",,0,",0.0,",,0,",294.0,",,0",200.0,",,0",NaN,NaN,NaN,NaN,34.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,294.0,",,X",NaN,NaN,72.0,",,X",54.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
day4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 59 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DATE             18291 non-null  datetime64[ns]
 1   PRCP             18288 non-null  float64
 2   PRCP_ATTRIBUTES  18288 non-null  object
 3   SNOW             17863 non-null  float64
 4   SNOW_ATTRIBUTES  17863 non-null  object
 5   SNWD             15006 non-null  float64
 6   SNWD_ATTRIBUTES  15006 non-null  object
 7   TMAX             18290 non-null  float64
 8   TMAX_ATTRIBUTES  18290 non-null  object
 9   TMIN             18290 non-null  float64
 10  TMIN_ATTRIBUTES  18290 non-null  object
 11  AWND             14819 non-null  float64
 12  AWND_ATTRIBUTES  14819 non-null  object
 13  FMTM             10162 non-null  float64
 14  FMTM_ATTRIBUTES  10162 non-null  object
 15  PSUN             3478 non-null   float64
 16  PSUN_ATTRIBUTES  3478 non-null   object
 17  RHAV             6599 non-null   float64
 18  RHAV_ATTRIBUTES  6599 non-null   object
 19  RHMN             6599 non-null   float64
 20  RHMN_ATTRIBUTES  6599 non-null   object
 21  RHMX             6599 non-null   float64
 22  RHMX_ATTRIBUTES  6599 non-null   object
 23  TAVG             6811 non-null   float64
 24  TAVG_ATTRIBUTES  6811 non-null   object
 25  TSUN             9184 non-null   float64
 26  TSUN_ATTRIBUTES  9184 non-null   object
 27  WESD             5908 non-null   float64
 28  WESD_ATTRIBUTES  5908 non-null   object
 29  WSFG             7968 non-null   float64
 30  WSFG_ATTRIBUTES  7968 non-null   object
 31  WSFM             365 non-null    float64
 32  WSFM_ATTRIBUTES  365 non-null    object
 33  WT03             2431 non-null   float64
 34  WT03_ATTRIBUTES  2431 non-null   object
 35  WT04             169 non-null    float64
 36  WT04_ATTRIBUTES  169 non-null    object
 37  WT05             365 non-null    float64
 38  WT05_ATTRIBUTES  365 non-null    object
 39  WT08             4091 non-null   float64
 40  WT08_ATTRIBUTES  4091 non-null   object
 41  WT09             39 non-null     float64
 42  WT09_ATTRIBUTES  39 non-null     object
 43  WT11             13 non-null     float64
 44  WT11_ATTRIBUTES  13 non-null     object
 45  WT13             2716 non-null   float64
 46  WT13_ATTRIBUTES  2716 non-null   object
 47  WT14             727 non-null    float64
 48  WT14_ATTRIBUTES  727 non-null    object
 49  WT15             28 non-null     float64
 50  WT15_ATTRIBUTES  28 non-null     object
 51  WT16             5666 non-null   float64
 52  WT16_ATTRIBUTES  5666 non-null   object
 53  WT17             38 non-null     float64
 54  WT17_ATTRIBUTES  38 non-null     object
 55  WT18             696 non-null    float64
 56  WT18_ATTRIBUTES  696 non-null    object
 57  WV03             8 non-null      float64
 58  WV03_ATTRIBUTES  8 non-null      object
dtypes: datetime64[ns](1), float64(29), object(29)
memory usage: 8.2+ MB

In [9]:
day5=day4.drop(columns=['WV03','WV03_ATTRIBUTES','WT11','WT11_ATTRIBUTES', 'WT15', 'WT15_ATTRIBUTES'])
day5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18291 entries, 0 to 18290
Data columns (total 53 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DATE             18291 non-null  datetime64[ns]
 1   PRCP             18288 non-null  float64
 2   PRCP_ATTRIBUTES  18288 non-null  object
 3   SNOW             17863 non-null  float64
 4   SNOW_ATTRIBUTES  17863 non-null  object
 5   SNWD             15006 non-null  float64
 6   SNWD_ATTRIBUTES  15006 non-null  object
 7   TMAX             18290 non-null  float64
 8   TMAX_ATTRIBUTES  18290 non-null  object
 9   TMIN             18290 non-null  float64
 10  TMIN_ATTRIBUTES  18290 non-null  object
 11  AWND             14819 non-null  float64
 12  AWND_ATTRIBUTES  14819 non-null  object
 13  FMTM             10162 non-null  float64
 14  FMTM_ATTRIBUTES  10162 non-null  object
 15  PSUN             3478 non-null   float64
 16  PSUN_ATTRIBUTES  3478 non-null   object
 17  RHAV             6599 non-null   float64
 18  RHAV_ATTRIBUTES  6599 non-null   object
 19  RHMN             6599 non-null   float64
 20  RHMN_ATTRIBUTES  6599 non-null   object
 21  RHMX             6599 non-null   float64
 22  RHMX_ATTRIBUTES  6599 non-null   object
 23  TAVG             6811 non-null   float64
 24  TAVG_ATTRIBUTES  6811 non-null   object
 25  TSUN             9184 non-null   float64
 26  TSUN_ATTRIBUTES  9184 non-null   object
 27  WESD             5908 non-null   float64
 28  WESD_ATTRIBUTES  5908 non-null   object
 29  WSFG             7968 non-null   float64
 30  WSFG_ATTRIBUTES  7968 non-null   object
 31  WSFM             365 non-null    float64
 32  WSFM_ATTRIBUTES  365 non-null    object
 33  WT03             2431 non-null   float64
 34  WT03_ATTRIBUTES  2431 non-null   object
 35  WT04             169 non-null    float64
 36  WT04_ATTRIBUTES  169 non-null    object
 37  WT05             365 non-null    float64
 38  WT05_ATTRIBUTES  365 non-null    object
 39  WT08             4091 non-null   float64
 40  WT08_ATTRIBUTES  4091 non-null   object
 41  WT09             39 non-null     float64
 42  WT09_ATTRIBUTES  39 non-null     object
 43  WT13             2716 non-null   float64
 44  WT13_ATTRIBUTES  2716 non-null   object
 45  WT14             727 non-null    float64
 46  WT14_ATTRIBUTES  727 non-null    object
 47  WT16             5666 non-null   float64
 48  WT16_ATTRIBUTES  5666 non-null   object
 49  WT17             38 non-null     float64
 50  WT17_ATTRIBUTES  38 non-null     object
 51  WT18             696 non-null    float64
 52  WT18_ATTRIBUTES  696 non-null    object
dtypes: datetime64[ns](1), float64(26), object(26)
memory usage: 7.4+ MB

In [10]:
day5['year'] = day5['DATE'].dt.year
day5['month'] = day5['DATE'].dt.month
day5['day'] = day5['DATE'].dt.day
day5.head()

,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,SNWD,SNWD_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,AWND,AWND_ATTRIBUTES,FMTM,FMTM_ATTRIBUTES,PSUN,PSUN_ATTRIBUTES,RHAV,RHAV_ATTRIBUTES,RHMN,RHMN_ATTRIBUTES,RHMX,RHMX_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TSUN,TSUN_ATTRIBUTES,WESD,WESD_ATTRIBUTES,WSFG,WSFG_ATTRIBUTES,WSFM,WSFM_ATTRIBUTES,WT03,WT03_ATTRIBUTES,WT04,WT04_ATTRIBUTES,WT05,WT05_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT13,WT13_ATTRIBUTES,WT14,WT14_ATTRIBUTES,WT16,WT16_ATTRIBUTES,WT17,WT17_ATTRIBUTES,WT18,WT18_ATTRIBUTES,year,month,day
0,1974-07-01,0.0,",,0,",0.0,",,0,",0.0,",,0,",306.0,",,0",189.0,",,0",NaN,NaN,NaN,NaN,97.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,846.0,",,X",NaN,NaN,103.0,",,X",67.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1974,7,1
1,1974-07-02,0.0,",,0,",0.0,",,0,",0.0,",,0,",322.0,",,0",189.0,",,0",NaN,NaN,NaN,NaN,86.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,756.0,",,X",NaN,NaN,108.0,",,X",72.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1974,7,2
2,1974-07-03,0.0,",,0,",0.0,",,0,",0.0,",,0,",339.0,",,0",194.0,",,0",NaN,NaN,NaN,NaN,92.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,804.0,",,X",NaN,NaN,77.0,",,X",49.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1974,7,3
3,1974-07-04,18.0,",,0,",0.0,",,0,",0.0,",,0,",322.0,",,0",206.0,",,0",NaN,NaN,NaN,NaN,65.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,570.0,",,X",NaN,NaN,175.0,",,X",107.0,",,X",1.0,",,0",NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,1974,7,4
4,1974-07-05,0.0,",,0,",0.0,",,0,",0.0,",,0,",294.0,",,0",200.0,",,0",NaN,NaN,NaN,NaN,34.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,294.0,",,X",NaN,NaN,72.0,",,X",54.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1974,7,5

In [11]:
day5['dayof']=day5['month'].astype(str)+'-'+day5['day'].astype(str)
day5.head()

,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,SNWD,SNWD_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,AWND,AWND_ATTRIBUTES,FMTM,FMTM_ATTRIBUTES,PSUN,PSUN_ATTRIBUTES,RHAV,RHAV_ATTRIBUTES,RHMN,RHMN_ATTRIBUTES,RHMX,RHMX_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TSUN,TSUN_ATTRIBUTES,WESD,WESD_ATTRIBUTES,WSFG,WSFG_ATTRIBUTES,WSFM,WSFM_ATTRIBUTES,WT03,WT03_ATTRIBUTES,WT04,WT04_ATTRIBUTES,WT05,WT05_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT09,WT09_ATTRIBUTES,WT13,WT13_ATTRIBUTES,WT14,WT14_ATTRIBUTES,WT16,WT16_ATTRIBUTES,WT17,WT17_ATTRIBUTES,WT18,WT18_ATTRIBUTES,year,month,day,dayof
0,1974-07-01,0.0,",,0,",0.0,",,0,",0.0,",,0,",306.0,",,0",189.0,",,0",NaN,NaN,NaN,NaN,97.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,846.0,",,X",NaN,NaN,103.0,",,X",67.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1974,7,1,7-1
1,1974-07-02,0.0,",,0,",0.0,",,0,",0.0,",,0,",322.0,",,0",189.0,",,0",NaN,NaN,NaN,NaN,86.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,756.0,",,X",NaN,NaN,108.0,",,X",72.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1974,7,2,7-2
2,1974-07-03,0.0,",,0,",0.0,",,0,",0.0,",,0,",339.0,",,0",194.0,",,0",NaN,NaN,NaN,NaN,92.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,804.0,",,X",NaN,NaN,77.0,",,X",49.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1974,7,3,7-3
3,1974-07-04,18.0,",,0,",0.0,",,0,",0.0,",,0,",322.0,",,0",206.0,",,0",NaN,NaN,NaN,NaN,65.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,570.0,",,X",NaN,NaN,175.0,",,X",107.0,",,X",1.0,",,0",NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,1974,7,4,7-4
4,1974-07-05,0.0,",,0,",0.0,",,0,",0.0,",,0,",294.0,",,0",200.0,",,0",NaN,NaN,NaN,NaN,34.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,294.0,",,X",NaN,NaN,72.0,",,X",54.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1974,7,5,7-5

In [12]:
day6=day5.drop(columns=['WT09','WT09_ATTRIBUTES','WSFG','WSFG_ATTRIBUTES', 'WSFM', 'WSFM_ATTRIBUTES','FMTM', 'FMTM_ATTRIBUTES'])

In [13]:
day6 = day6.rename(columns = {'DATE':'date', 'PRCP': 'precipitation', 'PRCP_ATTRIBUTES': 'precip_att', 'SNOW': 'snow', 'SNOW_ATTRIBUTES': 'snow_att', 'SNWD': 'snow_depth',
       'SNWD_ATTRIBUTES':'snow_depth_att', 'TMAX': 'max_temp', 'TMAX_ATTRIBUTES':'max_temp_att', 'TMIN': 'min_temp', 'TMIN_ATTRIBUTES':'min_temp_att',
       'AWND':'avg_daily_wind_speed', 'AWND_ATTRIBUTES': 'adws_att', 'PSUN': 'percent_possible_sun',
       'PSUN_ATTRIBUTES': 'pps_att', 'RHAV': 'avg_relative_humidity', 'RHAV_ATTRIBUTES': 'arh_att', 'RHMN': 'min_rel_humidity', 'RHMN_ATTRIBUTES': 'minrh_att',
       'RHMX': 'max_rel_humidity', 'RHMX_ATTRIBUTES': 'maxrh_att', 'TAVG':'avg_daily_temp', 'TAVG_ATTRIBUTES':'adt_att', 'TSUN': 'total_sun_mins' ,
       'TSUN_ATTRIBUTES':'tsun_mins_att', 'WESD':'water_eq_snow_ground', 'WESD_ATTRIBUTES':'snow_ground_att', 'WT03': 'thunder', 'WT03_ATTRIBUTES':'thunder_att',
       'WT04':'sleet', 'WT04_ATTRIBUTES': 'sleet_att', 'WT05': 'hail', 'WT05_ATTRIBUTES': 'hail_att', 'WT08':'smoke_haze',
       'WT08_ATTRIBUTES':'smoke_haze_att', 'WT13':'mist', 'WT13_ATTRIBUTES':'mist_att', 'WT14': 'drizzle', 'WT14_ATTRIBUTES': 'drizzle_att',
       'WT16':'rain', 'WT16_ATTRIBUTES':'rain_att', 'WT17':'freze_rain', 'WT17_ATTRIBUTES':'freeze_rain_att', 'WT18':'snowtype',
       'WT18_ATTRIBUTES':'snowtype_att'})
day6.columns

Index(['date', 'precipitation', 'precip_att', 'snow', 'snow_att', 'snow_depth',
       'snow_depth_att', 'max_temp', 'max_temp_att', 'min_temp',
       'min_temp_att', 'avg_daily_wind_speed', 'adws_att',
       'percent_possible_sun', 'pps_att', 'avg_relative_humidity', 'arh_att',
       'min_rel_humidity', 'minrh_att', 'max_rel_humidity', 'maxrh_att',
       'avg_daily_temp', 'adt_att', 'total_sun_mins', 'tsun_mins_att',
       'water_eq_snow_ground', 'snow_ground_att', 'thunder', 'thunder_att',
       'sleet', 'sleet_att', 'hail', 'hail_att', 'smoke_haze',
       'smoke_haze_att', 'mist', 'mist_att', 'drizzle', 'drizzle_att', 'rain',
       'rain_att', 'freze_rain', 'freeze_rain_att', 'snowtype', 'snowtype_att',
       'year', 'month', 'day', 'dayof'],
      dtype='object')

In [14]:
day7=day6.loc[day6['date']<'2024-07-01'].reset_index(drop=True)
day7.tail()

,date,precipitation,precip_att,snow,snow_att,snow_depth,snow_depth_att,max_temp,max_temp_att,min_temp,min_temp_att,avg_daily_wind_speed,adws_att,percent_possible_sun,pps_att,avg_relative_humidity,arh_att,min_rel_humidity,minrh_att,max_rel_humidity,maxrh_att,avg_daily_temp,adt_att,total_sun_mins,tsun_mins_att,water_eq_snow_ground,snow_ground_att,thunder,thunder_att,sleet,sleet_att,hail,hail_att,smoke_haze,smoke_haze_att,mist,mist_att,drizzle,drizzle_att,rain,rain_att,freze_rain,freeze_rain_att,snowtype,snowtype_att,year,month,day,dayof
18258,2024-06-26,157.0,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",356.0,",,W",228.0,",,W",23.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,288.0,"H,,S",NaN,NaN,NaN,NaN,1.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,26,6-26
18259,2024-06-27,0.0,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",311.0,",,W",228.0,",,W",36.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,27,6-27
18260,2024-06-28,0.0,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",350.0,",,W",217.0,",,W",30.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,28,6-28
18261,2024-06-29,0.0,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",361.0,",,W",256.0,",,W",27.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,29,6-29
18262,2024-06-30,56.0,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",344.0,",,W",228.0,",,W",30.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,289.0,"H,,S",NaN,NaN,NaN,NaN,1.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,30,6-30

In [15]:
day7.loc[day7['date']=='2024-06-30']

,date,precipitation,precip_att,snow,snow_att,snow_depth,snow_depth_att,max_temp,max_temp_att,min_temp,min_temp_att,avg_daily_wind_speed,adws_att,percent_possible_sun,pps_att,avg_relative_humidity,arh_att,min_rel_humidity,minrh_att,max_rel_humidity,maxrh_att,avg_daily_temp,adt_att,total_sun_mins,tsun_mins_att,water_eq_snow_ground,snow_ground_att,thunder,thunder_att,sleet,sleet_att,hail,hail_att,smoke_haze,smoke_haze_att,mist,mist_att,drizzle,drizzle_att,rain,rain_att,freze_rain,freeze_rain_att,snowtype,snowtype_att,year,month,day,dayof
18262,2024-06-30,56.0,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",344.0,",,W",228.0,",,W",30.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,289.0,"H,,S",NaN,NaN,NaN,NaN,1.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,30,6-30

In [16]:
def temp_switch(temp):
    
    faren = round(((temp/10) * 1.8)+32,0)
        
    return faren

In [17]:
temp_switch(344.0)

94.0

In [18]:
day7['max_temp']=day7['max_temp'].apply(temp_switch)
print(day7['max_temp'])

0        87.0
1        90.0
2        93.0
3        90.0
4        85.0
         ...
18258    96.0
18259    88.0
18260    95.0
18261    97.0
18262    94.0
Name: max_temp, Length: 18263, dtype: float64

In [19]:
day7['min_temp']=day7['min_temp'].apply(temp_switch)
print(day7['min_temp'])

0        66.0
1        66.0
2        67.0
3        69.0
4        68.0
         ...
18258    73.0
18259    73.0
18260    71.0
18261    78.0
18262    73.0
Name: min_temp, Length: 18263, dtype: float64

In [20]:
day7['avg_daily_temp']=day7['avg_daily_temp'].apply(temp_switch)
print(day7['avg_daily_temp'])

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
18258    84.0
18259    77.0
18260    82.0
18261    86.0
18262    84.0
Name: avg_daily_temp, Length: 18263, dtype: float64

In [21]:
def wind_switch(wind):
    
    wind_mph = round(((wind/10) * 2.237),2)
        
    return wind_mph

In [22]:
wind_switch(30.0)

6.71

In [23]:
day7['avg_daily_wind_speed']=day7['avg_daily_wind_speed'].apply(wind_switch)
print(day7['avg_daily_wind_speed'])

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
18258    5.15
18259    8.05
18260    6.71
18261    6.04
18262    6.71
Name: avg_daily_wind_speed, Length: 18263, dtype: float64

In [24]:
def water_switch(water):
    
    precip_in = round((water/10)/25.4,2)
        
    return precip_in

In [25]:
water_switch(56.0)

0.22

In [26]:
day7['precipitation']=day7['precipitation'].apply(water_switch)
print(day7['precipitation'])

0        0.00
1        0.00
2        0.00
3        0.07
4        0.00
         ...
18258    0.62
18259    0.00
18260    0.00
18261    0.00
18262    0.22
Name: precipitation, Length: 18263, dtype: float64

In [27]:
day7.loc[day7['snow']!=0]

,date,precipitation,precip_att,snow,snow_att,snow_depth,snow_depth_att,max_temp,max_temp_att,min_temp,min_temp_att,avg_daily_wind_speed,adws_att,percent_possible_sun,pps_att,avg_relative_humidity,arh_att,min_rel_humidity,minrh_att,max_rel_humidity,maxrh_att,avg_daily_temp,adt_att,total_sun_mins,tsun_mins_att,water_eq_snow_ground,snow_ground_att,thunder,thunder_att,sleet,sleet_att,hail,hail_att,smoke_haze,smoke_haze_att,mist,mist_att,drizzle,drizzle_att,rain,rain_att,freze_rain,freeze_rain_att,snowtype,snowtype_att,year,month,day,dayof
153,1974-12-01,0.14,",,0,",33.0,",,0,",0.0,"T,,0,",36.0,",,0",33.0,",,0",NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",1974,12,1,12-1
154,1974-12-02,0.04,",,0,",8.0,",,0,",0.0,"T,,0,",35.0,",,0",34.0,",,0",NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,1.0,",,X",1974,12,2,12-2
169,1974-12-17,0.03,",,0,",13.0,",,0,",0.0,"T,,0,",37.0,",,0",23.0,",,0",NaN,NaN,4.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",1974,12,17,12-17
195,1975-01-12,0.29,",,0,",99.0,",,0,",0.0,"T,,0,",40.0,",,0",22.0,",,0",NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",1975,1,12,1-12
202,1975-01-19,0.69,",,0,",8.0,",,0,",0.0,",,0,",57.0,",,0",32.0,",,0",NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,1.0,",,X",1975,1,19,1-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17706,2022-12-22,0.11,",,W,2400",15.0,",,W,",30.0,",,W,0600",51.0,",,W",10.0,",,W",11.86,",,W",NaN,NaN,79.0,",,W",63.0,",,W",89.0,",,W",49.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,12,22,12-22
17707,2022-12-23,0.00,"T,,W,2400",3.0,",,W,",30.0,",,W,0600",11.0,",,W",-1.0,",,W",12.30,",,W",NaN,NaN,59.0,",,W",52.0,",,W",76.0,",,W",11.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,12,23,12-23
17710,2022-12-26,0.05,",,W,2400",13.0,",,W,",0.0,"T,,W,0600",34.0,",,W",18.0,",,W",6.71,",,W",NaN,NaN,70.0,",,W",53.0,",,W",85.0,",,W",25.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,12,26,12-26
18094,2024-01-14,0.17,",,W,2400",33.0,",,W,0600",30.0,",,W,0600",37.0,",,W",16.0,",,W",8.50,",,W",NaN,NaN,59.0,",,W",31.0,",,W",84.0,",,W",31.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,1,14,1-14
18095,2024-01-15,0.55,",,W,2400",160.0,",,W,0600",130.0,",,W,0600",17.0,",,W",12.0,",,W",8.95,",,W",NaN,NaN,77.0,",,W",57.0,",,W",81.0,",,W",15.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,1,15,1-15

In [28]:
def snow_switch(snow):
    
    snow_in = round(snow/25.4,2)
        
    return snow_in

In [29]:
snow_switch(160)

6.3

In [30]:
day7['snow']=day7['snow'].apply(snow_switch)
print(day7['snow'])

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
18258    0.0
18259    0.0
18260    0.0
18261    0.0
18262    0.0
Name: snow, Length: 18263, dtype: float64

In [31]:
day7['snow_depth']=day7['snow_depth'].apply(snow_switch)
print(day7['snow_depth'])

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
18258    0.0
18259    0.0
18260    0.0
18261    0.0
18262    0.0
Name: snow_depth, Length: 18263, dtype: float64

In [32]:
day7.loc[day7['snow']!=0]

,date,precipitation,precip_att,snow,snow_att,snow_depth,snow_depth_att,max_temp,max_temp_att,min_temp,min_temp_att,avg_daily_wind_speed,adws_att,percent_possible_sun,pps_att,avg_relative_humidity,arh_att,min_rel_humidity,minrh_att,max_rel_humidity,maxrh_att,avg_daily_temp,adt_att,total_sun_mins,tsun_mins_att,water_eq_snow_ground,snow_ground_att,thunder,thunder_att,sleet,sleet_att,hail,hail_att,smoke_haze,smoke_haze_att,mist,mist_att,drizzle,drizzle_att,rain,rain_att,freze_rain,freeze_rain_att,snowtype,snowtype_att,year,month,day,dayof
153,1974-12-01,0.14,",,0,",1.30,",,0,",0.00,"T,,0,",36.0,",,0",33.0,",,0",NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",1974,12,1,12-1
154,1974-12-02,0.04,",,0,",0.31,",,0,",0.00,"T,,0,",35.0,",,0",34.0,",,0",NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,1.0,",,X",1974,12,2,12-2
169,1974-12-17,0.03,",,0,",0.51,",,0,",0.00,"T,,0,",37.0,",,0",23.0,",,0",NaN,NaN,4.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",1974,12,17,12-17
195,1975-01-12,0.29,",,0,",3.90,",,0,",0.00,"T,,0,",40.0,",,0",22.0,",,0",NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",1975,1,12,1-12
202,1975-01-19,0.69,",,0,",0.31,",,0,",0.00,",,0,",57.0,",,0",32.0,",,0",NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,",,X",NaN,NaN,NaN,NaN,1.0,",,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,X",NaN,NaN,1.0,",,X",1975,1,19,1-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17706,2022-12-22,0.11,",,W,2400",0.59,",,W,",1.18,",,W,0600",51.0,",,W",10.0,",,W",11.86,",,W",NaN,NaN,79.0,",,W",63.0,",,W",89.0,",,W",49.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,12,22,12-22
17707,2022-12-23,0.00,"T,,W,2400",0.12,",,W,",1.18,",,W,0600",11.0,",,W",-1.0,",,W",12.30,",,W",NaN,NaN,59.0,",,W",52.0,",,W",76.0,",,W",11.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,12,23,12-23
17710,2022-12-26,0.05,",,W,2400",0.51,",,W,",0.00,"T,,W,0600",34.0,",,W",18.0,",,W",6.71,",,W",NaN,NaN,70.0,",,W",53.0,",,W",85.0,",,W",25.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,12,26,12-26
18094,2024-01-14,0.17,",,W,2400",1.30,",,W,0600",1.18,",,W,0600",37.0,",,W",16.0,",,W",8.50,",,W",NaN,NaN,59.0,",,W",31.0,",,W",84.0,",,W",31.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,1,14,1-14
18095,2024-01-15,0.55,",,W,2400",6.30,",,W,0600",5.12,",,W,0600",17.0,",,W",12.0,",,W",8.95,",,W",NaN,NaN,77.0,",,W",57.0,",,W",81.0,",,W",15.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,1,15,1-15

In [33]:
winter_months=[12,1,2]
spring_months=[3,4,5]
summer_months=[6,7,8]
fall_months=[9,10,11]

In [34]:
winter=day7.loc[day7['month'].isin(winter_months)]
winter.tail()

,date,precipitation,precip_att,snow,snow_att,snow_depth,snow_depth_att,max_temp,max_temp_att,min_temp,min_temp_att,avg_daily_wind_speed,adws_att,percent_possible_sun,pps_att,avg_relative_humidity,arh_att,min_rel_humidity,minrh_att,max_rel_humidity,maxrh_att,avg_daily_temp,adt_att,total_sun_mins,tsun_mins_att,water_eq_snow_ground,snow_ground_att,thunder,thunder_att,sleet,sleet_att,hail,hail_att,smoke_haze,smoke_haze_att,mist,mist_att,drizzle,drizzle_att,rain,rain_att,freze_rain,freeze_rain_att,snowtype,snowtype_att,year,month,day,dayof
18136,2024-02-25,0.00,"T,,W,2400",0.0,",,W,0600",0.0,",,W,0600",68.0,",,W",28.0,",,W",8.95,",,W",NaN,NaN,47.0,",,W",25.0,",,W",79.0,",,W",44.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,2,25,2-25
18137,2024-02-26,0.00,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",76.0,",,W",55.0,",,W",11.63,",,W",NaN,NaN,44.0,",,W",34.0,",,W",79.0,",,W",64.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,2,26,2-26
18138,2024-02-27,0.00,"T,,W,2400",0.0,",,W,0600",0.0,",,W,0600",75.0,",,W",62.0,",,W",19.24,",,W",NaN,NaN,62.0,",,W",42.0,",,W",78.0,",,W",67.0,"H,,S",NaN,NaN,NaN,NaN,1.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,2,27,2-27
18139,2024-02-28,0.51,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",73.0,",,W",35.0,",,W",14.09,",,W",NaN,NaN,53.0,",,W",32.0,",,W",80.0,",,W",62.0,"H,,S",NaN,NaN,NaN,NaN,1.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,2,28,2-28
18140,2024-02-29,0.00,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",50.0,",,W",30.0,",,W",7.38,",,W",NaN,NaN,38.0,",,W",22.0,",,W",59.0,",,W",39.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,2,29,2-29

In [35]:
spring=day7.loc[day7['month'].isin(spring_months)]
spring.tail()

,date,precipitation,precip_att,snow,snow_att,snow_depth,snow_depth_att,max_temp,max_temp_att,min_temp,min_temp_att,avg_daily_wind_speed,adws_att,percent_possible_sun,pps_att,avg_relative_humidity,arh_att,min_rel_humidity,minrh_att,max_rel_humidity,maxrh_att,avg_daily_temp,adt_att,total_sun_mins,tsun_mins_att,water_eq_snow_ground,snow_ground_att,thunder,thunder_att,sleet,sleet_att,hail,hail_att,smoke_haze,smoke_haze_att,mist,mist_att,drizzle,drizzle_att,rain,rain_att,freze_rain,freeze_rain_att,snowtype,snowtype_att,year,month,day,dayof
18228,2024-05-27,0.52,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",86.0,",,W",64.0,",,W",6.49,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,"H,,S",NaN,NaN,NaN,NaN,1.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,5,27,5-27
18229,2024-05-28,0.00,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",86.0,",,W",63.0,",,W",6.49,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,5,28,5-28
18230,2024-05-29,0.00,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",82.0,",,W",58.0,",,W",6.49,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,5,29,5-29
18231,2024-05-30,0.00,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",81.0,",,W",55.0,",,W",4.25,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,5,30,5-30
18232,2024-05-31,0.00,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",83.0,",,W",59.0,",,W",6.04,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,5,31,5-31

In [36]:
summer=day7.loc[day7['month'].isin(summer_months)]
summer.tail()

,date,precipitation,precip_att,snow,snow_att,snow_depth,snow_depth_att,max_temp,max_temp_att,min_temp,min_temp_att,avg_daily_wind_speed,adws_att,percent_possible_sun,pps_att,avg_relative_humidity,arh_att,min_rel_humidity,minrh_att,max_rel_humidity,maxrh_att,avg_daily_temp,adt_att,total_sun_mins,tsun_mins_att,water_eq_snow_ground,snow_ground_att,thunder,thunder_att,sleet,sleet_att,hail,hail_att,smoke_haze,smoke_haze_att,mist,mist_att,drizzle,drizzle_att,rain,rain_att,freze_rain,freeze_rain_att,snowtype,snowtype_att,year,month,day,dayof
18258,2024-06-26,0.62,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",96.0,",,W",73.0,",,W",5.15,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,"H,,S",NaN,NaN,NaN,NaN,1.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,26,6-26
18259,2024-06-27,0.00,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",88.0,",,W",73.0,",,W",8.05,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,27,6-27
18260,2024-06-28,0.00,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",95.0,",,W",71.0,",,W",6.71,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,28,6-28
18261,2024-06-29,0.00,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",97.0,",,W",78.0,",,W",6.04,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,29,6-29
18262,2024-06-30,0.22,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",94.0,",,W",73.0,",,W",6.71,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,"H,,S",NaN,NaN,NaN,NaN,1.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,6,30,6-30

In [37]:
fall=day7.loc[day7['month'].isin(fall_months)]
fall.tail()

,date,precipitation,precip_att,snow,snow_att,snow_depth,snow_depth_att,max_temp,max_temp_att,min_temp,min_temp_att,avg_daily_wind_speed,adws_att,percent_possible_sun,pps_att,avg_relative_humidity,arh_att,min_rel_humidity,minrh_att,max_rel_humidity,maxrh_att,avg_daily_temp,adt_att,total_sun_mins,tsun_mins_att,water_eq_snow_ground,snow_ground_att,thunder,thunder_att,sleet,sleet_att,hail,hail_att,smoke_haze,smoke_haze_att,mist,mist_att,drizzle,drizzle_att,rain,rain_att,freze_rain,freeze_rain_att,snowtype,snowtype_att,year,month,day,dayof
18045,2023-11-26,0.01,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",53.0,",,W",37.0,",,W",9.17,",,W",NaN,NaN,77.0,",,W",65.0,",,W",86.0,",,W",48.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,",,W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023,11,26,11-26
18046,2023-11-27,0.00,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",48.0,",,W",34.0,",,W",6.71,",,W",NaN,NaN,51.0,",,W",31.0,",,W",83.0,",,W",41.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023,11,27,11-27
18047,2023-11-28,0.00,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",43.0,",,W",25.0,",,W",6.26,",,W",NaN,NaN,50.0,",,W",29.0,",,W",75.0,",,W",37.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023,11,28,11-28
18048,2023-11-29,0.00,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",60.0,",,W",22.0,",,W",8.05,",,W",NaN,NaN,48.0,",,W",27.0,",,W",75.0,",,W",37.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023,11,29,11-29
18049,2023-11-30,0.05,",,W,2400",0.0,",,W,0600",0.0,",,W,0600",65.0,",,W",38.0,",,W",8.05,",,W",NaN,NaN,44.0,",,W",24.0,",,W",79.0,",,W",50.0,"H,,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023,11,30,11-30

In [38]:
day_focus=day7.drop(columns=['precip_att', 'snow_att', 'snow_depth_att', 'max_temp_att', 'min_temp_att', 'adws_att',
       'percent_possible_sun', 'pps_att', 'arh_att',
       'min_rel_humidity', 'minrh_att', 'max_rel_humidity', 'maxrh_att','adt_att', 'total_sun_mins', 'tsun_mins_att',
       'water_eq_snow_ground', 'snow_ground_att', 'thunder', 'thunder_att', 'sleet', 'sleet_att', 'hail', 'hail_att', 'smoke_haze',
       'smoke_haze_att', 'mist', 'mist_att', 'drizzle', 'drizzle_att', 'rain', 'rain_att', 'freze_rain', 'freeze_rain_att', 'snowtype', 'snowtype_att'])

In [39]:
winter1=day_focus.loc[day_focus['month'].isin(winter_months)].reset_index(drop=True)
winter1.tail()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof
4508,2024-02-25,0.00,0.0,0.0,68.0,28.0,8.95,47.0,44.0,2024,2,25,2-25
4509,2024-02-26,0.00,0.0,0.0,76.0,55.0,11.63,44.0,64.0,2024,2,26,2-26
4510,2024-02-27,0.00,0.0,0.0,75.0,62.0,19.24,62.0,67.0,2024,2,27,2-27
4511,2024-02-28,0.51,0.0,0.0,73.0,35.0,14.09,53.0,62.0,2024,2,28,2-28
4512,2024-02-29,0.00,0.0,0.0,50.0,30.0,7.38,38.0,39.0,2024,2,29,2-29

In [40]:
spring1=day_focus.loc[day_focus['month'].isin(spring_months)].reset_index(drop=True)
spring1.tail()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof
4595,2024-05-27,0.52,0.0,0.0,86.0,64.0,6.49,NaN,75.0,2024,5,27,5-27
4596,2024-05-28,0.00,0.0,0.0,86.0,63.0,6.49,NaN,76.0,2024,5,28,5-28
4597,2024-05-29,0.00,0.0,0.0,82.0,58.0,6.49,NaN,71.0,2024,5,29,5-29
4598,2024-05-30,0.00,0.0,0.0,81.0,55.0,4.25,NaN,68.0,2024,5,30,5-30
4599,2024-05-31,0.00,0.0,0.0,83.0,59.0,6.04,NaN,70.0,2024,5,31,5-31

In [41]:
summer1=day_focus.loc[day_focus['month'].isin(summer_months)].reset_index(drop=True)
summer1.tail()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof
4595,2024-06-26,0.62,0.0,0.0,96.0,73.0,5.15,NaN,84.0,2024,6,26,6-26
4596,2024-06-27,0.00,0.0,0.0,88.0,73.0,8.05,NaN,77.0,2024,6,27,6-27
4597,2024-06-28,0.00,0.0,0.0,95.0,71.0,6.71,NaN,82.0,2024,6,28,6-28
4598,2024-06-29,0.00,0.0,0.0,97.0,78.0,6.04,NaN,86.0,2024,6,29,6-29
4599,2024-06-30,0.22,0.0,0.0,94.0,73.0,6.71,NaN,84.0,2024,6,30,6-30

In [42]:
fall1=day_focus.loc[day_focus['month'].isin(fall_months)].reset_index(drop=True)
fall1.tail()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof
4545,2023-11-26,0.01,0.0,0.0,53.0,37.0,9.17,77.0,48.0,2023,11,26,11-26
4546,2023-11-27,0.00,0.0,0.0,48.0,34.0,6.71,51.0,41.0,2023,11,27,11-27
4547,2023-11-28,0.00,0.0,0.0,43.0,25.0,6.26,50.0,37.0,2023,11,28,11-28
4548,2023-11-29,0.00,0.0,0.0,60.0,22.0,8.05,48.0,37.0,2023,11,29,11-29
4549,2023-11-30,0.05,0.0,0.0,65.0,38.0,8.05,44.0,50.0,2023,11,30,11-30

In [43]:
winter1['precipitation'].mean()

0.1397406340057637

In [44]:
spring1['precipitation'].mean()

0.15353478260869566

In [45]:
summer1['precipitation'].mean()

0.12710869565217392

In [46]:
fall1['precipitation'].mean()

0.11991648351648354

In [47]:
winter1['snow'].mean()

0.06550079131810989

In [48]:
spring1['snow'].mean()

0.00652746761947298

In [49]:
summer1['snow'].mean()

0.0

In [50]:
fall1['snow'].mean()

0.0009505531722736509

In [51]:
winter1['snow_depth'].mean()

0.13680978402289878

In [52]:
spring1['snow_depth'].mean()

0.006342422653382275

In [53]:
summer1['snow_depth'].mean()

0.0

In [54]:
fall1['snow_depth'].mean()

0.0002687140115163148

In [55]:
winter1['max_temp'].mean()

50.33658320407711

In [56]:
spring1['max_temp'].mean()

70.93608695652173

In [57]:
summer1['max_temp'].mean()

88.83717391304347

In [58]:
fall1['max_temp'].mean()

72.02021978021978

In [59]:
winter1['min_temp'].mean()

31.29005096388212

In [60]:
spring1['min_temp'].mean()

48.78913043478261

In [61]:
summer1['min_temp'].mean()

68.48239130434783

In [62]:
fall1['min_temp'].mean()

50.19802197802198

In [63]:
winter1['avg_daily_wind_speed'].mean()

8.020904632152588

In [64]:
spring1['avg_daily_wind_speed'].mean()

7.784957582184517

In [65]:
summer1['avg_daily_wind_speed'].mean()

5.786382749326146

In [66]:
fall1['avg_daily_wind_speed'].mean()

6.3998269230769225

In [67]:
winter1['avg_relative_humidity'].mean()

65.33702337023371

In [68]:
spring1['avg_relative_humidity'].mean()

61.17279626386456

In [69]:
summer1['avg_relative_humidity'].mean()

66.14752116082225

In [70]:
fall1['avg_relative_humidity'].mean()

65.04483188044831

In [71]:
winter1['avg_daily_temp'].mean()

42.520320197044335

In [72]:
spring1['avg_daily_temp'].mean()

60.97298818232977

In [73]:
summer1['avg_daily_temp'].mean()

78.63172966781214

In [74]:
fall1['avg_daily_temp'].mean()

62.29645476772616

In [75]:
winter1.describe()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day
count,4513,4511.000000,4423.000000,3843.000000,4513.000000,4513.000000,3670.000000,1626.000000,1624.000000,4513.000000,4513.000000,4513.000000
mean,1999-07-16 21:30:21.138931968,0.139741,0.065501,0.136810,50.336583,31.290051,8.020905,65.337023,42.520320,1999.157988,5.091070,15.572125
min,1974-12-01 00:00:00,0.000000,0.000000,0.000000,3.000000,-17.000000,0.450000,33.000000,8.000000,1974.000000,1.000000,1.000000
25%,1987-01-15 00:00:00,0.000000,0.000000,0.000000,41.000000,24.000000,5.590000,55.000000,35.000000,1987.000000,1.000000,8.000000
50%,1999-12-01 00:00:00,0.000000,0.000000,0.000000,51.000000,31.000000,7.610000,65.000000,42.000000,1999.000000,2.000000,16.000000
75%,2012-01-15 00:00:00,0.070000,0.000000,0.000000,60.000000,39.000000,10.070000,76.000000,50.000000,2012.000000,12.000000,23.000000
max,2024-02-29 00:00:00,4.730000,8.110000,7.990000,85.000000,65.000000,21.700000,97.000000,72.000000,2024.000000,12.000000,31.000000
std,NaN,0.363551,0.447384,0.702391,12.488361,11.617933,3.229743,14.117775,11.289484,14.441911,5.013934,8.729977

In [76]:
spring1.describe()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day
count,4600,4600.000000,4478.000000,3814.000000,4600.000000,4600.000000,3772.000000,1713.000000,1777.000000,4600.000000,4600.000000,4600.000000
mean,1999-10-15 12:00:00,0.153535,0.006527,0.006342,70.936087,48.789130,7.784958,61.172796,60.972988,1999.500000,4.000000,15.836957
min,1975-03-01 00:00:00,0.000000,0.000000,0.000000,22.000000,2.000000,1.120000,29.000000,-0.000000,1975.000000,3.000000,1.000000
25%,1987-04-15 18:00:00,0.000000,0.000000,0.000000,63.000000,40.000000,5.590000,51.000000,53.000000,1987.000000,3.000000,8.000000
50%,1999-10-15 12:00:00,0.000000,0.000000,0.000000,72.000000,49.000000,7.380000,60.000000,62.000000,1999.500000,4.000000,16.000000
75%,2012-04-15 06:00:00,0.090000,0.000000,0.000000,80.000000,58.000000,9.620000,72.000000,70.000000,2012.000000,5.000000,23.250000
max,2024-05-31 00:00:00,7.250000,3.110000,3.150000,95.000000,75.000000,21.920000,95.000000,84.000000,2024.000000,5.000000,31.000000
std,NaN,0.415025,0.108363,0.124059,12.156077,11.679822,3.050217,13.739288,10.964642,14.432439,0.821011,8.855189

In [77]:
summer1.describe()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day
count,4600,4600.000000,4506.0,3680.0,4600.000000,4600.000000,3710.000000,1654.000000,1746.000000,4600.000000,4600.000000,4600.000000
mean,1999-05-14 08:18:59.478260864,0.127109,0.0,0.0,88.837174,68.482391,5.786383,66.147521,78.631730,1998.826087,7.010870,15.836957
min,1974-07-01 00:00:00,0.000000,0.0,0.0,65.000000,47.000000,0.890000,34.000000,61.000000,1974.000000,6.000000,1.000000
25%,1986-08-15 18:00:00,0.000000,0.0,0.0,86.000000,66.000000,4.250000,59.000000,76.000000,1986.000000,6.000000,8.000000
50%,1999-06-30 12:00:00,0.000000,0.0,0.0,89.000000,69.000000,5.590000,66.000000,79.000000,1999.000000,7.000000,16.000000
75%,2011-08-15 06:00:00,0.040000,0.0,0.0,93.000000,72.000000,6.930000,73.000000,82.000000,2011.000000,8.000000,23.250000
max,2024-06-30 00:00:00,3.410000,0.0,0.0,109.000000,82.000000,16.780000,94.000000,89.000000,2024.000000,8.000000,31.000000
std,NaN,0.347039,0.0,0.0,5.523931,4.992636,2.052380,10.136635,4.186361,14.440051,0.814291,8.855189

In [78]:
fall1.describe()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day
count,4550,4550.000000,4429.000000,3647.000000,4550.000000,4550.000000,3640.000000,1606.000000,1636.000000,4550.000000,4550.000000,4550.000000
mean,1999-04-16 17:45:36,0.119916,0.000951,0.000269,72.020220,50.198022,6.399827,65.044832,62.296455,1998.500000,10.000000,15.670330
min,1974-09-01 00:00:00,0.000000,0.000000,0.000000,26.000000,9.000000,0.670000,31.000000,26.000000,1974.000000,9.000000,1.000000
25%,1986-10-16 06:00:00,0.000000,0.000000,0.000000,63.000000,40.000000,4.250000,57.000000,54.000000,1986.000000,9.000000,8.000000
50%,1999-04-16 12:00:00,0.000000,0.000000,0.000000,73.000000,51.000000,5.930000,64.000000,64.000000,1998.500000,10.000000,16.000000
75%,2011-10-15 18:00:00,0.020000,0.000000,0.000000,82.000000,61.000000,8.050000,73.000000,72.000000,2011.000000,11.000000,23.000000
max,2023-11-30 00:00:00,6.600000,1.300000,0.980000,102.000000,76.000000,18.570000,95.000000,85.000000,2023.000000,11.000000,31.000000
std,NaN,0.360874,0.026436,0.016228,12.900026,12.812329,2.935283,11.741578,12.164198,14.432456,0.812087,8.759073

In [79]:
fprecip_mean=np.mean(fall1['precipitation'])

In [80]:
fprecip_std=np.std(fall1['precipitation'])

In [81]:
fzscores=(fall1['precipitation']-fprecip_mean)/fprecip_std
print(fzscores)

0       4.157263
1       5.986356
2       0.194226
3      -0.332331
4       1.496763
          ...
4545   -0.304618
4546   -0.332331
4547   -0.332331
4548   -0.332331
4549   -0.193763
Name: precipitation, Length: 4550, dtype: float64

In [82]:
outliers=np.where(fzscores > 3)
fall1.iloc[outliers]

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof
0,1974-09-01,1.62,0.0,0.0,82.0,69.0,NaN,NaN,NaN,1974,9,1,9-1
1,1974-09-02,2.28,0.0,0.0,84.0,70.0,NaN,NaN,NaN,1974,9,2,9-2
7,1974-09-08,2.02,0.0,0.0,71.0,66.0,NaN,NaN,NaN,1974,9,8,9-8
44,1974-10-15,1.22,0.0,0.0,68.0,52.0,NaN,NaN,NaN,1974,10,15,10-15
79,1974-11-19,1.45,0.0,0.0,68.0,56.0,NaN,NaN,NaN,1974,11,19,11-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4185,2019-11-30,1.47,0.0,0.0,65.0,50.0,7.83,76.0,56.0,2019,11,30,11-30
4198,2020-09-13,3.27,0.0,0.0,76.0,71.0,3.36,90.0,74.0,2020,9,13,9-13
4296,2021-09-20,1.57,0.0,0.0,74.0,68.0,6.04,85.0,73.0,2021,9,20,9-20
4439,2022-11-11,1.45,0.0,0.0,73.0,48.0,8.28,68.0,65.0,2022,11,11,11-11
4457,2022-11-29,1.21,0.0,0.0,69.0,41.0,12.08,79.0,52.0,2022,11,29,11-29

In [83]:
zscore(fall1['precipitation'])

0       4.157263
1       5.986356
2       0.194226
3      -0.332331
4       1.496763
          ...
4545   -0.304618
4546   -0.332331
4547   -0.332331
4548   -0.332331
4549   -0.193763
Name: precipitation, Length: 4550, dtype: float64

In [84]:
fall1['precip_z']=zscore(fall1['precipitation'])
fall1.head()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof,precip_z
0,1974-09-01,1.62,0.0,0.0,82.0,69.0,NaN,NaN,NaN,1974,9,1,9-1,4.157263
1,1974-09-02,2.28,0.0,0.0,84.0,70.0,NaN,NaN,NaN,1974,9,2,9-2,5.986356
2,1974-09-03,0.19,0.0,0.0,70.0,55.0,NaN,NaN,NaN,1974,9,3,9-3,0.194226
3,1974-09-04,0.00,0.0,0.0,70.0,52.0,NaN,NaN,NaN,1974,9,4,9-4,-0.332331
4,1974-09-05,0.66,0.0,0.0,75.0,53.0,NaN,NaN,NaN,1974,9,5,9-5,1.496763

In [85]:
wprecip_mean=np.mean(winter1['precipitation'])
wprecip_std=np.std(winter1['precipitation'])
winter1['precip_z']=(winter1['precipitation']-wprecip_mean)/wprecip_std
winter1.head()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof,precip_z
0,1974-12-01,0.14,1.30,0.0,36.0,33.0,NaN,NaN,NaN,1974,12,1,12-1,0.000714
1,1974-12-02,0.04,0.31,0.0,35.0,34.0,NaN,NaN,NaN,1974,12,2,12-2,-0.274382
2,1974-12-03,0.00,0.00,0.0,45.0,27.0,NaN,NaN,NaN,1974,12,3,12-3,-0.384420
3,1974-12-04,0.00,0.00,0.0,46.0,26.0,NaN,NaN,NaN,1974,12,4,12-4,-0.384420
4,1974-12-05,0.00,0.00,0.0,53.0,22.0,NaN,NaN,NaN,1974,12,5,12-5,-0.384420

In [86]:
wsnow_mean=np.mean(winter1['snow'])
wsnow_std=np.std(winter1['snow'])
winter1['snow_z']=(winter1['snow']-wsnow_mean)/wsnow_std
winter1.head()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof,precip_z,snow_z
0,1974-12-01,0.14,1.30,0.0,36.0,33.0,NaN,NaN,NaN,1974,12,1,12-1,0.000714,2.759682
1,1974-12-02,0.04,0.31,0.0,35.0,34.0,NaN,NaN,NaN,1974,12,2,12-2,-0.274382,0.546570
2,1974-12-03,0.00,0.00,0.0,45.0,27.0,NaN,NaN,NaN,1974,12,3,12-3,-0.384420,-0.146425
3,1974-12-04,0.00,0.00,0.0,46.0,26.0,NaN,NaN,NaN,1974,12,4,12-4,-0.384420,-0.146425
4,1974-12-05,0.00,0.00,0.0,53.0,22.0,NaN,NaN,NaN,1974,12,5,12-5,-0.384420,-0.146425

In [87]:
winter1['maxt_z']=(winter1['max_temp']-np.mean(winter1['max_temp']))/np.std(winter1['max_temp'])
winter1.head()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof,precip_z,snow_z,maxt_z
0,1974-12-01,0.14,1.30,0.0,36.0,33.0,NaN,NaN,NaN,1974,12,1,12-1,0.000714,2.759682,-1.148123
1,1974-12-02,0.04,0.31,0.0,35.0,34.0,NaN,NaN,NaN,1974,12,2,12-2,-0.274382,0.546570,-1.228206
2,1974-12-03,0.00,0.00,0.0,45.0,27.0,NaN,NaN,NaN,1974,12,3,12-3,-0.384420,-0.146425,-0.427372
3,1974-12-04,0.00,0.00,0.0,46.0,26.0,NaN,NaN,NaN,1974,12,4,12-4,-0.384420,-0.146425,-0.347288
4,1974-12-05,0.00,0.00,0.0,53.0,22.0,NaN,NaN,NaN,1974,12,5,12-5,-0.384420,-0.146425,0.213296

In [88]:
winter1['mint_z']=(winter1['min_temp']-np.mean(winter1['min_temp']))/np.std(winter1['min_temp'])

In [89]:
winter1['ws_z']=(winter1['avg_daily_wind_speed']-np.mean(winter1['avg_daily_wind_speed']))/np.std(winter1['avg_daily_wind_speed'])

In [90]:
winter1['dt_z']=(winter1['avg_daily_temp']-np.mean(winter1['avg_daily_temp']))/np.std(winter1['avg_daily_temp'])

In [91]:
winter1.head()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof,precip_z,snow_z,maxt_z,mint_z,ws_z,dt_z
0,1974-12-01,0.14,1.30,0.0,36.0,33.0,NaN,NaN,NaN,1974,12,1,12-1,0.000714,2.759682,-1.148123,0.147198,NaN,NaN
1,1974-12-02,0.04,0.31,0.0,35.0,34.0,NaN,NaN,NaN,1974,12,2,12-2,-0.274382,0.546570,-1.228206,0.233282,NaN,NaN
2,1974-12-03,0.00,0.00,0.0,45.0,27.0,NaN,NaN,NaN,1974,12,3,12-3,-0.384420,-0.146425,-0.427372,-0.369302,NaN,NaN
3,1974-12-04,0.00,0.00,0.0,46.0,26.0,NaN,NaN,NaN,1974,12,4,12-4,-0.384420,-0.146425,-0.347288,-0.455385,NaN,NaN
4,1974-12-05,0.00,0.00,0.0,53.0,22.0,NaN,NaN,NaN,1974,12,5,12-5,-0.384420,-0.146425,0.213296,-0.799719,NaN,NaN

In [92]:
for index, row in winter1.iterrows():
    score1 = 0
    if row.precip_z <= 0:
        score1 += 1.67
    if row.snow_z <= 0:
        score1 += 1.67
    if row.maxt_z >= 0:
        score1 += 1.67
    if row.mint_z >= 0:
        score1 += 1.67
    if row.ws_z <= -0.67:
        score1 += 1.67
    if row.dt_z >= 0:
       score1 += 1.67
    winter1.loc[index, 'score1']= score1

In [93]:
for index, row in winter1.iterrows():
    score2 = 0
    if row.precip_z <= 0:
        score2 += 2
    if row.snow_z <= 0:
        score2 += 2
    if row.maxt_z >= 0:
        score2 += 2
    if row.mint_z >= 0:
        score2 += 2
    if row.ws_z <= -0.67:
        score2 += 1
    if row.dt_z >= 0:
       score2 += 1
    winter1.loc[index, 'score2']= score2

In [94]:
for index, row in winter1.iterrows():
    score3 = 0
    if row.precip_z <= 0.67:
        score3 += 2
    if row.snow_z <= 0.67:
        score3 += 2
    if row.maxt_z >= -0.67:
        score3 += 2
    if row.mint_z >= -0.67:
        score3 += 2
    if row.ws_z <= -0.67:
        score3 += 1
    if row.dt_z >= 0:
       score3 += 1
    winter1.loc[index, 'score3']= score3

In [95]:
winter1.tail()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof,precip_z,snow_z,maxt_z,mint_z,ws_z,dt_z,score1,score2,score3
4508,2024-02-25,0.00,0.0,0.0,68.0,28.0,8.95,47.0,44.0,2024,2,25,2-25,-0.384420,-0.146425,1.414547,-0.283219,0.287708,0.131107,6.68,7.0,9.0
4509,2024-02-26,0.00,0.0,0.0,76.0,55.0,11.63,44.0,64.0,2024,2,26,2-26,-0.384420,-0.146425,2.055214,2.041032,1.117608,1.903213,8.35,9.0,9.0
4510,2024-02-27,0.00,0.0,0.0,75.0,62.0,19.24,62.0,67.0,2024,2,27,2-27,-0.384420,-0.146425,1.975131,2.643616,3.474153,2.169029,8.35,9.0,9.0
4511,2024-02-28,0.51,0.0,0.0,73.0,35.0,14.09,53.0,62.0,2024,2,28,2-28,1.018565,-0.146425,1.814964,0.319365,1.879382,1.726003,6.68,7.0,7.0
4512,2024-02-29,0.00,0.0,0.0,50.0,30.0,7.38,38.0,39.0,2024,2,29,2-29,-0.384420,-0.146425,-0.026955,-0.111052,-0.198465,-0.311919,3.34,4.0,8.0

In [96]:
pd.set_option('display.max_rows', None)
winterscores=winter1.groupby(['month', 'day'])[['score1', 'score2', 'score3']].agg(['mean', 'min', 'max']).reset_index()
winterscores.columns=['month', 'day', 's1_mean', 's1_min', 's1_max', 's2_mean', 's2_min', 's2_max', 's3_mean', 's3_min', 's3_max']
winterscores

,month,day,s1_mean,s1_min,s1_max,s2_mean,s2_min,s2_max,s3_mean,s3_min,s3_max
0,1,1,5.410800,3.34,10.02,6.000000,3.0,10.0,7.160000,3.0,10.0
1,1,2,5.143600,1.67,10.02,5.640000,2.0,10.0,6.880000,4.0,10.0
2,1,3,4.943200,0.00,8.35,5.460000,0.0,9.0,6.620000,3.0,10.0
3,1,4,4.642600,1.67,8.35,5.300000,2.0,9.0,6.540000,2.0,9.0
4,1,5,5.043400,0.00,10.02,5.660000,0.0,10.0,6.940000,4.0,10.0
5,1,6,4.709400,0.00,10.02,5.300000,0.0,10.0,6.740000,0.0,10.0
6,1,7,4.609200,0.00,8.35,5.140000,0.0,9.0,6.500000,0.0,10.0
7,1,8,4.709400,1.67,10.02,5.300000,2.0,10.0,6.620000,4.0,10.0
8,1,9,5.177000,1.67,10.02,5.760000,2.0,10.0,6.840000,4.0,10.0
9,1,10,4.809600,0.00,8.35,5.340000,0.0,9.0,6.700000,2.0,10.0
10,1,11,4.809600,1.67,8.35,5.360000,2.0,9.0,6.800000,4.0,9.0
11,1,12,4.776200,0.00,10.02,5.340000,0.0,10.0,6.740000,2.0,10.0
12,1,13,4.943200,1.67,10.02,5.560000,2.0,10.0,6.720000,2.0,10.0
13,1,14,4.909800,0.00,10.02,5.500000,0.0,10.0,6.780000,2.0,10.0
14,1,15,4.676000,0.00,10.02,5.200000,0.0,10.0,6.800000,0.0,10.0
15,1,16,4.776200,0.00,8.35,5.340000,0.0,9.0,6.660000,2.0,9.0
16,1,17,4.542400,0.00,8.35,5.200000,0.0,9.0,6.520000,0.0,10.0
17,1,18,4.809600,0.00,10.02,5.340000,0.0,10.0,6.780000,0.0,10.0
18,1,19,4.408800,0.00,10.02,5.020000,0.0,10.0,6.100000,0.0,10.0
19,1,20,4.709400,0.00,10.02,5.260000,0.0,10.0,6.580000,2.0,10.0
20,1,21,4.642600,0.00,10.02,5.180000,0.0,10.0,6.500000,2.0,10.0
21,1,22,4.575800,0.00,8.35,5.080000,0.0,9.0,6.320000,2.0,9.0
22,1,23,4.676000,1.67,8.35,5.300000,2.0,9.0,6.740000,2.0,9.0
23,1,24,4.843000,1.67,10.02,5.460000,2.0,10.0,6.980000,2.0,10.0
24,1,25,4.776200,0.00,8.35,5.360000,0.0,9.0,6.800000,0.0,9.0
25,1,26,5.110200,0.00,10.02,5.720000,0.0,10.0,7.160000,4.0,10.0
26,1,27,5.010000,1.67,10.02,5.620000,1.0,10.0,7.060000,3.0,10.0
27,1,28,4.943200,0.00,8.35,5.600000,0.0,9.0,7.040000,4.0,9.0
28,1,29,4.943200,0.00,10.02,5.600000,0.0,10.0,6.680000,2.0,10.0
29,1,30,4.943200,0.00,10.02,5.620000,0.0,10.0,6.940000,0.0,10.0
30,1,31,5.177000,1.67,10.02,5.760000,2.0,10.0,7.080000,4.0,10.0
31,2,1,5.277200,0.00,10.02,5.880000,0.0,10.0,6.920000,0.0,10.0
32,2,2,4.943200,0.00,10.02,5.500000,0.0,10.0,6.900000,2.0,10.0
33,2,3,5.143600,1.67,10.02,5.760000,2.0,10.0,7.080000,4.0,10.0
34,2,4,4.342000,0.00,8.35,5.000000,0.0,9.0,6.760000,2.0,9.0
35,2,5,4.843000,0.00,8.35,5.360000,0.0,9.0,6.640000,2.0,10.0
36,2,6,4.976600,0.00,8.35,5.480000,0.0,9.0,6.880000,2.0,10.0
37,2,7,4.709400,0.00,10.02,5.160000,0.0,10.0,6.720000,0.0,10.0
38,2,8,5.210400,0.00,10.02,5.680000,0.0,10.0,7.080000,2.0,10.0
39,2,9,4.943200,0.00,10.02,5.400000,0.0,10.0,6.640000,2.0,10.0
40,2,10,5.076800,0.00,10.02,5.660000,0.0,10.0,6.660000,2.0,10.0
41,2,11,4.976600,0.00,8.35,5.580000,0.0,9.0,6.860000,2.0,9.0
42,2,12,4.909800,0.00,8.35,5.500000,0.0,9.0,7.060000,4.0,10.0
43,2,13,5.243800,1.67,10.02,5.780000,2.0,10.0,6.820000,2.0,10.0
44,2,14,5.310600,0.00,10.02,5.940000,0.0,10.0,7.300000,2.0,10.0
45,2,15,5.243800,0.00,8.35,5.980000,0.0,9.0,6.860000,0.0,9.0
46,2,16,5.110200,0.00,10.02,5.800000,0.0,10.0,7.080000,0.0,10.0
47,2,17,5.010000,0.00,10.02,5.680000,0.0,10.0,6.760000,2.0,10.0
48,2,18,5.277200,0.00,10.02,5.940000,0.0,10.0,7.020000,0.0,10.0
49,2,19,5.845000,0.00,10.02,6.580000,0.0,10.0,7.580000,4.0,10.0
50,2,20,5.911800,0.00,10.02,6.600000,0.0,10.0,7.720000,2.0,10.0
51,2,21,5.845000,0.00,8.35,6.580000,0.0,9.0,7.740000,0.0,10.0
52,2,22,5.911800,3.34,10.02,6.680000,4.0,10.0,7.640000,4.0,10.0
53,2,23,6.179000,1.67,10.02,6.960000,2.0,10.0,7.720000,4.0,10.0
54,2,24,6.145600,3.34,8.35,6.880000,4.0,9.0,7.800000,4.0,10.0
55,2,25,5.778200,0.00,10.02,6.540000,0.0,10.0,7.460000,2.0,10.0
56,2,26,5.310600,0.00,10.02,5.960000,0.0,10.0,7.520000,2.0,10.0
57,2,27,5.811600,1.67,10.02,6.540000,2.0,10.0,7.460000,2.0,10.0
58,2,28,5.811600,0.00,10.02,6.500000,0.0,10.0,7.660000,4.0,10.0
59,2,29,5.780769,3.34,10.02,6.538462,4.0,10.0,7.923077,6.0,10.0
60,12,1,6.045400,1.67,10.02,6.700000,2.0,10.0,8.060000,4.0,10.0
61,12,2,5.811600,1.67,10.02,6.380000,2.0,10.0,7.900000,4.0,10.0
62,12,3,5.744800,3.34,10.02,6.420000,4.0,10.0,7.860000,4.0,10.0
63,12,4,5.678000,1.67,10.02,6.280000,2.0,10.0,7.880000,4.0,10.0
64,12,5,5.444200,1.67,10.02,6.100000,2.0,10.0,7.340000,4.0,10.0
65,12,6,5.243800,1.67,10.02,5.840000,2.0,10.0,7.400000,2.0,10.0
66,12,7,5.310600,1.67,10.02,5.940000,2.0,10.0,7.540000,4.0,10.0
67,12,8,5.611200,1.67,10.02,6.180000,2.0,10.0,7.500000,4.0,10.0
68,12,9,5.310600,1.67,10.02,5.880000,1.0,10.0,7.040000,4.0,10.0
69,12,10,5.444200,3.34,10.02,6.100000,3.0,10.0,7.540000,4.0,10.0
70,12,11,5.310600,0.00,10.02,5.920000,0.0,10.0,7.440000,2.0,10.0
71,12,12,5.344000,1.67,8.35,5.980000,2.0,9.0,7.220000,4.0,9.0
72,12,13,5.577800,1.67,10.02,6.220000,2.0,10.0,7.380000,4.0,10.0
73,12,14,5.711400,1.67,10.02,6.420000,2.0,10.0,7.460000,2.0,10.0
74,12,15,5.511000,1.67,10.02,6.260000,2.0,10.0,7.660000,3.0,10.0
75,12,16,5.544400,3.34,10.02,6.200000,3.0,10.0,7.600000,4.0,10.0
76,12,17,5.177000,1.67,10.02,5.740000,2.0,10.0,7.460000,2.0,10.0
77,12,18,5.210400,0.00,10.02,5.740000,0.0,10.0,7.380000,2.0,10.0
78,12,19,5.477600,1.67,10.02,6.080000,2.0,10.0,7.200000,2.0,10.0
79,12,20,5.477600,1.67,10.02,6.060000,2.0,10.0,7.140000,2.0,10.0
80,12,21,5.277200,0.00,10.02,5.840000,0.0,10.0,7.280000,4.0,10.0
81,12,22,5.577800,1.67,10.02,6.200000,2.0,10.0,7.360000,4.0,10.0
82,12,23,5.143600,0.00,8.35,5.820000,0.0,9.0,7.100000,2.0,10.0
83,12,24,4.609200,1.67,10.02,5.200000,2.0,10.0,6.760000,3.0,10.0
84,12,25,4.843000,1.67,10.02,5.320000,2.0,10.0,6.520000,3.0,10.0
85,12,26,5.043400,1.67,10.02,5.560000,2.0,10.0,7.040000,2.0,10.0
86,12,27,5.177000,0.00,10.02,5.780000,0.0,10.0,7.180000,2.0,10.0
87,12,28,5.377400,1.67,8.35,6.000000,2.0,9.0,7.320000,4.0,9.0
88,12,29,5.344000,0.00,10.02,6.000000,0.0,10.0,7.080000,2.0,10.0
89,12,30,5.243800,1.67,10.02,5.900000,2.0,10.0,6.980000,4.0,10.0
90,12,31,5.544400,3.34,10.02,6.240000,4.0,10.0,7.200000,4.0,10.0

In [97]:
sprecip_mean=np.mean(spring1['precipitation'])
sprecip_std=np.std(spring1['precipitation'])
spring1['precip_z']=(spring1['precipitation']-sprecip_mean)/sprecip_std
spring1.head()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof,precip_z
0,1975-03-01,0.28,0.0,0.0,50.0,29.0,NaN,NaN,NaN,1975,3,1,3-1,0.304750
1,1975-03-02,0.00,0.0,0.0,33.0,27.0,NaN,NaN,NaN,1975,3,2,3-2,-0.369982
2,1975-03-03,0.00,0.0,0.0,41.0,23.0,NaN,NaN,NaN,1975,3,3,3-3,-0.369982
3,1975-03-04,0.00,0.0,0.0,46.0,21.0,NaN,NaN,NaN,1975,3,4,3-4,-0.369982
4,1975-03-05,0.00,0.0,0.0,57.0,25.0,NaN,NaN,NaN,1975,3,5,3-5,-0.369982

In [98]:
spring1['maxt_z']=(spring1['max_temp']-np.mean(spring1['max_temp']))/np.std(spring1['max_temp'])

In [99]:
spring1['mint_z']=(spring1['min_temp']-np.mean(spring1['min_temp']))/np.std(spring1['min_temp'])

In [100]:
spring1['ws_z']=(spring1['avg_daily_wind_speed']-np.mean(spring1['avg_daily_wind_speed']))/np.std(spring1['avg_daily_wind_speed'])

In [101]:
spring1['dt_z']=(spring1['avg_daily_temp']-np.mean(spring1['avg_daily_temp']))/np.std(spring1['avg_daily_temp'])

In [102]:
for index, row in spring1.iterrows():
    score1 = 0
    if row.precip_z <= 0:
        score1 += 2
    if row.maxt_z >= 0 and row.maxt_z <=.67:
        score1 += 2
    if row.mint_z >= 0:
        score1 += 2
    if row.ws_z <= -0.67:
        score1 += 2
    if row.dt_z >= 0:
       score1 += 2
    spring1.loc[index, 'score1']= score1

In [103]:
for index, row in spring1.iterrows():
    score2 = 0
    if row.precip_z <= 0:
        score2 += 2.67
    if row.maxt_z >= 0 and row.maxt_z <=.67:
        score2 += 2.67
    if row.mint_z >= 0:
        score2 += 2.67
    if row.ws_z <= -0.67:
        score2 += 1
    if row.dt_z >= 0:
       score2 += 1
    spring1.loc[index, 'score2']= score2

In [104]:
for index, row in spring1.iterrows():
    score3 = 0
    if row.precip_z <= 0.67:
        score3 += 2.67
    if row.maxt_z >= -0.67 and row.maxt_z <=0.67:
        score3 += 2.67
    if row.mint_z >= -.67:
        score3 += 2.67
    if row.ws_z <= -0.67:
        score3 += 1
    if row.dt_z >= 0:
       score3 += 1
    spring1.loc[index, 'score3']= score3

In [105]:
spring1.tail()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof,precip_z,maxt_z,mint_z,ws_z,dt_z,score1,score2,score3
4595,2024-05-27,0.52,0.0,0.0,86.0,64.0,6.49,NaN,75.0,2024,5,27,5-27,0.883092,1.239343,1.302462,-0.424602,1.279655,4.0,3.67,3.67
4596,2024-05-28,0.00,0.0,0.0,86.0,63.0,6.49,NaN,76.0,2024,5,28,5-28,-0.369982,1.239343,1.216835,-0.424602,1.370883,6.0,6.34,6.34
4597,2024-05-29,0.00,0.0,0.0,82.0,58.0,6.49,NaN,71.0,2024,5,29,5-29,-0.369982,0.910254,0.788700,-0.424602,0.914743,6.0,6.34,6.34
4598,2024-05-30,0.00,0.0,0.0,81.0,55.0,4.25,NaN,68.0,2024,5,30,5-30,-0.369982,0.827982,0.531818,-1.159074,0.641060,8.0,7.34,7.34
4599,2024-05-31,0.00,0.0,0.0,83.0,59.0,6.04,NaN,70.0,2024,5,31,5-31,-0.369982,0.992526,0.874327,-0.572152,0.823516,6.0,6.34,6.34

In [106]:
pd.set_option('display.max_rows', None)
springscores=spring1.groupby(['month', 'day'])[['score1', 'score2', 'score3']].agg(['mean', 'min', 'max']).reset_index()
springscores.columns=['month', 'day', 's1_mean', 's1_min', 's1_max', 's2_mean', 's2_min', 's2_max', 's3_mean', 's3_min', 's3_max']
springscores

,month,day,s1_mean,s1_min,s1_max,s2_mean,s2_min,s2_max,s3_mean,s3_min,s3_max
0,3,1,2.28,0.0,6.0,2.6430,0.00,8.01,4.1382,2.67,9.01
1,3,2,2.60,0.0,8.0,3.1036,0.00,8.01,4.0648,0.00,10.01
2,3,3,2.44,0.0,8.0,2.8900,0.00,9.01,4.0114,0.00,9.01
3,3,4,2.52,0.0,8.0,3.0302,0.00,9.01,4.5788,0.00,9.01
4,3,5,2.48,0.0,8.0,2.8766,0.00,9.01,4.2116,0.00,9.01
5,3,6,3.00,0.0,6.0,3.5040,0.00,8.01,4.4652,2.67,9.01
6,3,7,2.92,0.0,6.0,3.3972,0.00,8.01,4.8390,0.00,9.01
7,3,8,2.72,0.0,8.0,3.2304,0.00,9.01,4.8858,0.00,9.01
8,3,9,2.48,0.0,8.0,3.0436,0.00,9.01,4.0048,0.00,9.01
9,3,10,3.08,0.0,6.0,3.6776,0.00,8.01,4.6388,0.00,9.01
10,3,11,2.48,0.0,8.0,2.9434,0.00,9.01,4.4920,0.00,9.01
11,3,12,3.00,0.0,8.0,3.6376,0.00,8.01,5.1862,2.67,9.01
12,3,13,2.72,0.0,8.0,3.2972,0.00,9.01,5.0060,0.00,10.01
13,3,14,2.80,0.0,8.0,3.4374,0.00,9.01,4.8258,0.00,9.01
14,3,15,2.92,0.0,6.0,3.4974,0.00,6.34,5.3130,2.67,9.01
15,3,16,2.92,0.0,8.0,3.3638,0.00,9.01,5.6066,0.00,9.01
16,3,17,2.88,0.0,8.0,3.5108,0.00,9.01,5.3264,0.00,9.01
17,3,18,2.72,0.0,6.0,3.3640,0.00,8.01,5.3398,2.67,10.01
18,3,19,2.48,0.0,8.0,3.1438,0.00,9.01,5.0128,0.00,9.01
19,3,20,3.04,0.0,8.0,3.5908,0.00,9.01,5.0860,0.00,9.01
20,3,21,2.72,0.0,6.0,3.3974,0.00,8.01,5.1062,0.00,9.01
21,3,22,2.92,0.0,6.0,3.4640,0.00,8.01,4.9058,2.67,9.01
22,3,23,3.24,0.0,8.0,3.8244,0.00,9.01,5.9070,2.67,9.01
23,3,24,3.48,0.0,8.0,4.1114,0.00,9.01,5.8202,2.67,9.01
24,3,25,3.36,0.0,8.0,4.0180,0.00,9.01,5.6734,2.67,9.01
25,3,26,3.36,0.0,10.0,4.0180,0.00,10.01,5.6200,2.67,10.01
26,3,27,3.48,0.0,8.0,4.2450,0.00,9.01,5.9004,2.67,9.01
27,3,28,2.96,0.0,8.0,3.5842,0.00,9.01,5.7736,2.67,9.01
28,3,29,3.40,0.0,8.0,3.9378,0.00,9.01,5.4330,0.00,9.01
29,3,30,3.28,0.0,8.0,3.9112,0.00,9.01,5.8870,0.00,9.01
30,3,31,3.08,0.0,8.0,3.7778,0.00,9.01,5.4332,2.67,9.01
31,4,1,3.32,0.0,8.0,4.0648,0.00,9.01,5.5066,2.67,9.01
32,4,2,3.72,0.0,8.0,4.3316,0.00,9.01,6.0938,2.67,10.01
33,4,3,3.60,0.0,8.0,4.2382,0.00,9.01,5.8936,2.67,10.01
34,4,4,3.48,0.0,10.0,4.0112,0.00,10.01,5.9336,2.67,10.01
35,4,5,3.20,0.0,8.0,3.6708,0.00,9.01,5.3262,2.67,10.01
36,4,6,3.40,0.0,10.0,3.9712,0.00,10.01,5.4664,0.00,10.01
37,4,7,4.00,2.0,8.0,4.7722,2.67,9.01,6.4276,2.67,9.01
38,4,8,3.68,0.0,8.0,4.3784,0.00,9.01,6.3542,2.67,9.01
39,4,9,3.76,0.0,10.0,4.5186,0.00,10.01,5.8536,2.67,10.01
40,4,10,3.80,0.0,8.0,4.5386,0.00,8.01,5.9270,2.67,9.01
41,4,11,4.28,0.0,8.0,5.0124,0.00,9.01,6.6678,2.67,10.01
42,4,12,4.16,0.0,10.0,4.8856,0.00,10.01,6.5944,2.67,10.01
43,4,13,4.24,0.0,10.0,4.7586,0.00,10.01,6.7344,0.00,10.01
44,4,14,4.52,0.0,10.0,5.2660,0.00,10.01,6.7612,2.67,10.01
45,4,15,3.92,0.0,10.0,4.5318,0.00,10.01,6.0804,2.67,10.01
46,4,16,4.32,0.0,10.0,4.9322,0.00,10.01,6.4808,2.67,10.01
47,4,17,4.08,0.0,10.0,4.7788,0.00,10.01,6.2740,2.67,10.01
48,4,18,4.36,0.0,10.0,4.9856,0.00,10.01,6.5342,2.67,10.01
49,4,19,4.24,0.0,8.0,4.9924,0.00,9.01,6.6478,2.67,9.01
50,4,20,4.32,0.0,10.0,4.9322,0.00,10.01,6.9614,2.67,10.01
51,4,21,4.40,0.0,8.0,5.0056,0.00,9.01,6.5542,2.67,9.01
52,4,22,4.12,0.0,8.0,4.8322,0.00,9.01,6.5410,2.67,9.01
53,4,23,4.16,0.0,8.0,4.8522,0.00,9.01,6.6678,2.67,9.01
54,4,24,4.24,0.0,8.0,5.0258,0.00,9.01,6.8948,2.67,9.01
55,4,25,4.04,0.0,10.0,4.7922,0.00,10.01,7.1418,2.67,10.01
56,4,26,4.20,0.0,8.0,4.9724,0.00,9.01,6.8948,2.67,9.01
57,4,27,4.20,2.0,8.0,4.9056,2.67,9.01,6.7746,2.67,10.01
58,4,28,4.56,0.0,8.0,5.2192,0.00,9.01,6.8746,2.67,10.01
59,4,29,4.92,0.0,10.0,5.5996,0.00,10.01,6.9346,2.67,10.01
60,4,30,4.64,0.0,8.0,5.4596,0.00,9.01,6.7946,3.67,10.01
61,5,1,4.84,0.0,8.0,5.5930,0.00,9.01,7.3552,5.34,10.01
62,5,2,4.92,0.0,10.0,5.4660,0.00,10.01,7.6020,5.34,10.01
63,5,3,4.60,0.0,8.0,5.2058,0.00,9.01,6.9146,2.67,9.01
64,5,4,4.68,2.0,10.0,5.2792,1.00,10.01,7.2016,3.67,10.01
65,5,5,4.96,2.0,10.0,5.6196,1.00,10.01,6.9546,2.67,10.01
66,5,6,5.04,2.0,8.0,5.6930,2.67,9.01,7.0814,3.67,10.01
67,5,7,5.08,2.0,8.0,5.7464,2.67,9.01,6.7076,2.67,10.01
68,5,8,5.08,0.0,10.0,5.7130,0.00,10.01,6.9412,2.67,10.01
69,5,9,5.08,2.0,8.0,5.7798,2.67,9.01,7.1148,2.67,10.01
70,5,10,5.00,2.0,10.0,5.7398,2.67,10.01,6.8612,2.67,10.01
71,5,11,4.96,2.0,8.0,5.7866,2.67,9.01,6.7478,2.67,10.01
72,5,12,5.20,2.0,8.0,5.9066,2.67,9.01,7.0280,2.67,9.01
73,5,13,5.32,2.0,10.0,6.0668,2.67,10.01,7.1882,2.67,10.01
74,5,14,5.08,2.0,10.0,5.8132,2.67,10.01,6.7210,2.67,10.01
75,5,15,5.20,0.0,8.0,5.7730,0.00,9.01,6.7876,2.67,10.01
76,5,16,5.00,2.0,10.0,5.7064,2.67,10.01,6.6142,4.67,10.01
77,5,17,5.16,2.0,10.0,5.8532,2.67,10.01,6.8144,2.67,10.01
78,5,18,5.32,2.0,10.0,6.0000,2.67,10.01,6.7476,2.67,10.01
79,5,19,5.08,2.0,10.0,5.8466,2.67,10.01,6.7544,2.67,10.01
80,5,20,5.04,2.0,10.0,5.5928,2.67,10.01,6.5540,2.67,10.01
81,5,21,5.24,2.0,10.0,6.0268,2.67,10.01,6.7210,3.67,10.01
82,5,22,5.48,2.0,8.0,6.1134,2.67,9.01,6.7008,3.67,10.01
83,5,23,5.76,2.0,8.0,6.4204,2.67,9.01,6.6874,3.67,9.01
84,5,24,5.48,2.0,10.0,6.2136,2.67,10.01,6.5874,3.67,10.01
85,5,25,5.32,2.0,8.0,5.9332,2.67,9.01,6.5206,2.67,10.01
86,5,26,5.28,2.0,10.0,5.8464,2.67,10.01,6.5406,2.67,10.01
87,5,27,5.44,2.0,10.0,5.9932,2.67,10.01,6.5272,2.67,10.01
88,5,28,5.32,2.0,10.0,5.8664,2.67,10.01,6.4538,2.67,10.01
89,5,29,5.52,2.0,10.0,6.1668,2.67,10.01,6.4338,3.67,10.01
90,5,30,5.40,2.0,10.0,6.1068,2.67,10.01,6.3204,2.67,10.01
91,5,31,5.40,2.0,8.0,5.8062,2.67,9.01,6.2868,2.67,9.01

In [107]:
sumprecip_mean=np.mean(summer1['precipitation'])
sumprecip_std=np.std(summer1['precipitation'])
summer1['precip_z']=(summer1['precipitation']-sumprecip_mean)/sumprecip_std
summer1.head()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof,precip_z
0,1974-07-01,0.00,0.0,0.0,87.0,66.0,NaN,NaN,NaN,1974,7,1,7-1,-0.366307
1,1974-07-02,0.00,0.0,0.0,90.0,66.0,NaN,NaN,NaN,1974,7,2,7-2,-0.366307
2,1974-07-03,0.00,0.0,0.0,93.0,67.0,NaN,NaN,NaN,1974,7,3,7-3,-0.366307
3,1974-07-04,0.07,0.0,0.0,90.0,69.0,NaN,NaN,NaN,1974,7,4,7-4,-0.164578
4,1974-07-05,0.00,0.0,0.0,85.0,68.0,NaN,NaN,NaN,1974,7,5,7-5,-0.366307

In [108]:
summer1['maxt_z']=(summer1['max_temp']-np.mean(summer1['max_temp']))/np.std(summer1['max_temp'])

In [109]:
summer1['mint_z']=(summer1['min_temp']-np.mean(summer1['min_temp']))/np.std(summer1['min_temp'])

In [110]:
summer1['ws_z']=(summer1['avg_daily_wind_speed']-np.mean(summer1['avg_daily_wind_speed']))/np.std(summer1['avg_daily_wind_speed'])

In [111]:
summer1['humid_z']=(summer1['avg_relative_humidity']-np.mean(summer1['avg_relative_humidity']))/np.std(summer1['avg_relative_humidity'])

In [112]:
summer1['dt_z']=(summer1['avg_daily_temp']-np.mean(summer1['avg_daily_temp']))/np.std(summer1['avg_daily_temp'])

In [113]:
for index, row in summer1.iterrows():
    score1 = 0
    if row.precip_z <= 0:
        score1 += 1.67
    if row.maxt_z <= 0:
        score1 += 1.67
    if row.mint_z >= 0:
        score1 += 1.67
    if row.ws_z <= 0:
        score1 += 1.67
    if row.humid_z <= 0:
        score1 += 1.67
    if row.dt_z >= 0:
       score1 += 1.67
    summer1.loc[index, 'score1']= score1

In [114]:
for index, row in summer1.iterrows():
    score2 = 0
    if row.precip_z <= 0:
        score2 += 2
    if row.maxt_z <= 0:
        score2 += 2
    if row.mint_z >= 0:
        score2 += 2
    if row.ws_z <= 0:
        score2 += 1
    if row.humid_z <= 0:
        score2 += 2
    if row.dt_z >= 0:
       score2 += 1
    summer1.loc[index, 'score2']= score2

In [115]:
for index, row in summer1.iterrows():
    if row.precip_z <= 0.67:
        score3 += 2
    if row.maxt_z <= 0.67:
        score3 += 2
    if row.mint_z >= -0.67:
        score3 += 2
    if row.ws_z <= 0:
        score3 += 1
    if row.humid_z <= 0:
        score2 += 2
    if row.dt_z >= 0:
       score3 += 1
    summer1.loc[index, 'score3']= score3

In [116]:
summer1.tail()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof,precip_z,maxt_z,mint_z,ws_z,humid_z,dt_z,score1,score2,score3
4595,2024-06-26,0.62,0.0,0.0,96.0,73.0,5.15,NaN,84.0,2024,6,26,6-26,1.420433,1.296831,0.904953,-0.310112,NaN,1.282691,5.01,4.0,24867.34
4596,2024-06-27,0.00,0.0,0.0,88.0,73.0,8.05,NaN,77.0,2024,6,27,6-27,-0.366307,-0.151570,0.904953,1.103072,NaN,-0.389884,5.01,6.0,24873.34
4597,2024-06-28,0.00,0.0,0.0,95.0,71.0,6.71,NaN,82.0,2024,6,28,6-28,-0.366307,1.115781,0.504319,0.450083,NaN,0.804812,5.01,5.0,24878.34
4598,2024-06-29,0.00,0.0,0.0,97.0,78.0,6.04,NaN,86.0,2024,6,29,6-29,-0.366307,1.477881,1.906537,0.123589,NaN,1.760570,5.01,5.0,24883.34
4599,2024-06-30,0.22,0.0,0.0,94.0,73.0,6.71,NaN,84.0,2024,6,30,6-30,0.267698,0.934731,0.904953,0.450083,NaN,1.282691,3.34,3.0,24888.34

In [117]:
pd.set_option('display.max_rows', None)
summerscores=summer1.groupby(['month', 'day'])[['score1', 'score2', 'score3']].agg(['mean', 'min', 'max']).reset_index()
summerscores.columns=['month', 'day', 's1_mean', 's1_min', 's1_max', 's2_mean', 's2_min', 's2_max', 's3_mean', 's3_min', 's3_max']
summerscores

,month,day,s1_mean,s1_min,s1_max,s2_mean,s2_min,s2_max,s3_mean,s3_min,s3_max
0,6,1,3.6740,1.67,6.68,3.98,1.0,7.0,12071.76,336.34,24733.34
1,6,2,3.9746,1.67,8.35,4.34,1.0,9.0,12076.86,340.34,24739.34
2,6,3,4.0080,1.67,6.68,4.30,1.0,7.0,12081.88,344.34,24744.34
3,6,4,4.0080,1.67,6.68,4.38,2.0,7.0,12086.62,350.34,24750.34
4,6,5,3.8744,0.00,6.68,4.22,0.0,7.0,12091.52,356.34,24756.34
5,6,6,3.7408,0.00,8.35,4.08,0.0,8.0,12096.36,362.34,24763.34
6,6,7,4.0414,0.00,6.68,4.40,0.0,7.0,12101.36,366.34,24767.34
7,6,8,3.9746,1.67,6.68,4.34,2.0,7.0,12106.26,370.34,24772.34
8,6,9,4.1750,1.67,8.35,4.52,2.0,9.0,12111.18,372.34,24776.34
9,6,10,4.0414,0.00,6.68,4.38,0.0,8.0,12116.28,378.34,24780.34
10,6,11,4.1416,0.00,8.35,4.46,0.0,9.0,12121.42,382.34,24784.34
11,6,12,3.9412,0.00,8.35,4.22,0.0,8.0,12126.48,388.34,24789.34
12,6,13,4.2418,1.67,8.35,4.46,1.0,8.0,12131.70,392.34,24792.34
13,6,14,4.5090,1.67,8.35,4.76,2.0,8.0,12137.06,396.34,24798.34
14,6,15,4.1416,1.67,8.35,4.34,2.0,8.0,12142.20,398.34,24804.34
15,6,16,4.1416,1.67,8.35,4.38,2.0,8.0,12147.58,402.34,24808.34
16,6,17,4.0414,0.00,8.35,4.30,0.0,9.0,12152.92,408.34,24813.34
17,6,18,3.9746,1.67,8.35,4.20,2.0,8.0,12158.40,414.34,24820.34
18,6,19,4.1082,0.00,8.35,4.36,0.0,9.0,12163.68,420.34,24828.34
19,6,20,4.4088,0.00,8.35,4.64,0.0,9.0,12169.16,426.34,24834.34
20,6,21,4.1416,0.00,8.35,4.36,0.0,8.0,12174.48,432.34,24840.34
21,6,22,4.3754,0.00,8.35,4.62,0.0,8.0,12179.94,438.34,24846.34
22,6,23,4.3086,1.67,6.68,4.54,1.0,7.0,12185.40,444.34,24851.34
23,6,24,4.2084,1.67,8.35,4.42,2.0,8.0,12190.82,450.34,24857.34
24,6,25,4.6426,1.67,8.35,4.82,2.0,9.0,12196.16,456.34,24863.34
25,6,26,4.4422,1.67,8.35,4.68,2.0,8.0,12201.48,462.34,24867.34
26,6,27,4.0414,1.67,6.68,4.40,1.0,7.0,12206.64,468.34,24873.34
27,6,28,4.6092,0.00,8.35,4.80,0.0,8.0,12212.20,474.34,24878.34
28,6,29,4.4422,0.00,8.35,4.76,0.0,8.0,12217.68,480.34,24883.34
29,6,30,4.4756,0.00,8.35,4.70,0.0,8.0,12222.98,486.34,24888.34
30,7,1,4.3086,0.00,8.35,4.60,0.0,8.0,11730.74,12.34,24353.34
31,7,2,4.3420,1.67,8.35,4.62,2.0,8.0,11736.24,18.34,24358.34
32,7,3,4.6092,1.67,8.35,4.90,2.0,8.0,11741.70,22.34,24365.34
33,7,4,4.0748,0.00,8.35,4.28,0.0,8.0,11746.98,28.34,24371.34
34,7,5,4.4422,0.00,8.35,4.62,0.0,8.0,11752.56,34.34,24379.34
35,7,6,4.5424,1.67,8.35,4.74,1.0,8.0,11757.78,40.34,24385.34
36,7,7,4.2418,1.67,8.35,4.42,2.0,8.0,11763.20,44.34,24393.34
37,7,8,4.4422,0.00,8.35,4.52,0.0,8.0,11768.76,50.34,24399.34
38,7,9,4.8096,1.67,8.35,4.96,2.0,8.0,11774.60,56.34,24406.34
39,7,10,4.6092,1.67,8.35,4.76,2.0,8.0,11780.28,60.34,24413.34
40,7,11,4.8096,1.67,8.35,5.10,1.0,8.0,11785.98,66.34,24418.34
41,7,12,4.5090,0.00,8.35,4.84,0.0,8.0,11791.26,72.34,24426.34
42,7,13,4.6760,1.67,8.35,4.94,2.0,9.0,11796.68,76.34,24433.34
43,7,14,4.4088,1.67,8.35,4.66,2.0,8.0,11802.42,80.34,24441.34
44,7,15,4.5758,1.67,8.35,4.86,2.0,8.0,11808.04,84.34,24446.34
45,7,16,5.0100,1.67,8.35,5.20,2.0,8.0,11813.92,90.34,24454.34
46,7,17,4.9432,1.67,8.35,5.04,2.0,8.0,11819.84,96.34,24462.34
47,7,18,4.4756,0.00,8.35,4.66,0.0,8.0,11825.30,100.34,24467.34
48,7,19,4.6426,1.67,8.35,4.78,2.0,8.0,11830.48,104.34,24471.34
49,7,20,4.7762,1.67,8.35,5.00,2.0,9.0,11835.84,108.34,24477.34
50,7,21,4.4422,1.67,8.35,4.70,2.0,8.0,11841.26,114.34,24484.34
51,7,22,4.5424,0.00,8.35,4.86,0.0,9.0,11846.80,116.34,24491.34
52,7,23,5.0434,1.67,8.35,5.30,2.0,8.0,11852.42,122.34,24498.34
53,7,24,4.6426,1.67,8.35,4.80,1.0,8.0,11858.14,128.34,24506.34
54,7,25,4.6426,1.67,8.35,4.84,2.0,8.0,11863.66,134.34,24512.34
55,7,26,4.5424,1.67,8.35,4.70,2.0,8.0,11869.24,140.34,24519.34
56,7,27,4.6426,1.67,8.35,4.82,2.0,8.0,11875.06,146.34,24524.34
57,7,28,4.5758,1.67,8.35,4.84,2.0,8.0,11880.42,152.34,24530.34
58,7,29,4.7762,1.67,8.35,5.04,2.0,8.0,11886.06,158.34,24533.34
59,7,30,4.5424,1.67,8.35,4.78,2.0,9.0,11891.68,162.34,24541.34
60,7,31,4.6760,1.67,10.02,4.82,2.0,10.0,11897.06,166.34,24549.34
61,8,1,4.5758,1.67,6.68,4.80,2.0,7.0,11902.82,170.34,24556.34
62,8,2,4.7762,1.67,6.68,5.02,2.0,7.0,11908.36,176.34,24561.34
63,8,3,4.6760,1.67,8.35,4.88,2.0,8.0,11913.88,180.34,24566.34
64,8,4,4.2752,0.00,8.35,4.56,0.0,8.0,11919.04,184.34,24573.34
65,8,5,4.2752,1.67,6.68,4.44,2.0,7.0,11924.52,188.34,24580.34
66,8,6,4.3754,0.00,8.35,4.66,0.0,8.0,11929.94,192.34,24585.34
67,8,7,4.3420,1.67,8.35,4.62,2.0,9.0,11935.40,198.34,24592.34
68,8,8,4.8430,1.67,8.35,5.10,2.0,8.0,11941.02,204.34,24599.34
69,8,9,4.3420,1.67,8.35,4.56,2.0,8.0,11946.38,210.34,24605.34
70,8,10,4.3754,1.67,8.35,4.46,2.0,8.0,11952.00,214.34,24612.34
71,8,11,4.8764,1.67,8.35,5.00,2.0,8.0,11957.68,218.34,24618.34
72,8,12,4.7762,1.67,8.35,5.06,2.0,8.0,11963.18,224.34,24624.34
73,8,13,4.6092,1.67,8.35,4.84,2.0,9.0,11968.54,230.34,24630.34
74,8,14,4.2752,0.00,8.35,4.52,0.0,8.0,11973.94,236.34,24634.34
75,8,15,4.6092,0.00,8.35,4.86,0.0,8.0,11979.44,240.34,24640.34
76,8,16,4.3420,1.67,6.68,4.58,1.0,8.0,11984.90,244.34,24645.34
77,8,17,4.5758,1.67,8.35,4.74,2.0,8.0,11990.44,250.34,24650.34
78,8,18,4.9766,1.67,8.35,5.20,2.0,8.0,11996.16,256.34,24657.34
79,8,19,4.1750,1.67,8.35,4.40,1.0,8.0,12001.48,262.34,24662.34
80,8,20,4.2752,1.67,8.35,4.60,2.0,8.0,12006.68,268.34,24668.34
81,8,21,4.5090,0.00,8.35,4.72,0.0,8.0,12011.96,274.34,24674.34
82,8,22,4.3754,1.67,8.35,4.52,2.0,8.0,12017.60,280.34,24680.34
83,8,23,4.5758,1.67,8.35,4.80,2.0,8.0,12023.24,286.34,24686.34
84,8,24,4.6760,0.00,8.35,4.94,0.0,8.0,12028.90,292.34,24692.34
85,8,25,4.5090,1.67,8.35,4.64,2.0,8.0,12034.18,298.34,24698.34
86,8,26,4.5424,1.67,8.35,4.78,2.0,8.0,12039.56,304.34,24704.34
87,8,27,4.4422,1.67,8.35,4.74,2.0,8.0,12045.02,310.34,24710.34
88,8,28,4.6092,1.67,8.35,4.90,2.0,8.0,12050.64,316.34,24716.34
89,8,29,4.7428,1.67,8.35,4.98,2.0,8.0,12056.22,320.34,24723.34
90,8,30,4.3754,1.67,8.35,4.74,2.0,9.0,12061.64,326.34,24727.34
91,8,31,4.2752,1.67,6.68,4.62,2.0,7.0,12066.90,332.34,24731.34

In [118]:
fall1['maxt_z']=(fall1['max_temp']-np.mean(fall1['max_temp']))/np.std(fall1['max_temp'])

In [119]:
fall1['mint_z']=(fall1['min_temp']-np.mean(fall1['min_temp']))/np.std(fall1['min_temp'])

In [120]:
fall1['ws_z']=(fall1['avg_daily_wind_speed']-np.mean(fall1['avg_daily_wind_speed']))/np.std(fall1['avg_daily_wind_speed'])

In [121]:
fall1['humid_z']=(fall1['avg_relative_humidity']-np.mean(fall1['avg_relative_humidity']))/np.std(fall1['avg_relative_humidity'])

In [122]:
fall1['dt_z']=(fall1['avg_daily_temp']-np.mean(fall1['avg_daily_temp']))/np.std(fall1['avg_daily_temp'])

In [123]:
for index, row in fall1.iterrows():
    score1 = 0
    if row.precip_z <= 0:
        score1 += 1.67
    if row.maxt_z >= 0 and row.maxt_z <=.67:
        score1 += 1.67
    if row.mint_z >= 0:
        score1 += 1.67
    if row.ws_z <= 0:
        score1 += 1.67
    if row.humid_z <= 0:
        score1 += 1.67
    if row.dt_z >= 0:
       score1 += 1.67
    fall1.loc[index, 'score1']= score1

In [124]:
for index, row in fall1.iterrows():
    score2 = 0
    if row.precip_z <= 0:
        score2 += 2
    if row.maxt_z >= 0 and row.maxt_z <=.67:
        score2 += 2
    if row.mint_z >= 0:
        score2 += 2
    if row.ws_z <= 0:
        score2 += 2
    if row.humid_z <= 0:
        score2 += 1
    if row.dt_z >= 0:
       score2 += 1
    fall1.loc[index, 'score2']= score2

In [125]:
for index, row in fall1.iterrows():
    score3=0
    if row.precip_z <= 0.67:
        score3 += 2
    if row.maxt_z >= -0.67 and row.maxt_z <=0.67:
        score3 += 2
    if row.mint_z >= -0.67:
        score3 += 2
    if row.ws_z <= 0:
        score3 += 2
    if row.humid_z <= 0:
        score2 += 1
    if row.dt_z >= 0:
       score3 += 1
    fall1.loc[index, 'score3']= score3

In [126]:
fall1.tail()

,date,precipitation,snow,snow_depth,max_temp,min_temp,avg_daily_wind_speed,avg_relative_humidity,avg_daily_temp,year,month,day,dayof,precip_z,maxt_z,mint_z,ws_z,humid_z,dt_z,score1,score2,score3
4545,2023-11-26,0.01,0.0,0.0,53.0,37.0,9.17,77.0,48.0,2023,11,26,11-26,-0.304618,-1.474595,-1.030217,0.943880,1.018508,-1.175649,1.67,2.0,2.0
4546,2023-11-27,0.00,0.0,0.0,48.0,34.0,6.71,51.0,41.0,2023,11,27,11-27,-0.332331,-1.862233,-1.264392,0.105685,-1.196535,-1.751284,3.34,3.0,2.0
4547,2023-11-28,0.00,0.0,0.0,43.0,25.0,6.26,50.0,37.0,2023,11,28,11-28,-0.332331,-2.249872,-1.966917,-0.047643,-1.281729,-2.080218,5.01,5.0,4.0
4548,2023-11-29,0.00,0.0,0.0,60.0,22.0,8.05,48.0,37.0,2023,11,29,11-29,-0.332331,-0.931901,-2.201093,0.562263,-1.452117,-2.080218,3.34,3.0,2.0
4549,2023-11-30,0.05,0.0,0.0,65.0,38.0,8.05,44.0,50.0,2023,11,30,11-30,-0.193763,-0.544262,-0.952158,0.562263,-1.792892,-1.011182,3.34,3.0,4.0

In [127]:
pd.set_option('display.max_rows', None)
fallscores=fall1.groupby(['month', 'day'])[['score1', 'score2', 'score3']].agg(['mean', 'min', 'max']).reset_index()
fallscores.columns=['month', 'day', 's1_mean', 's1_min', 's1_max', 's2_mean', 's2_min', 's2_max', 's3_mean', 's3_min', 's3_max']
fallscores

,month,day,s1_mean,s1_min,s1_max,s2_mean,s2_min,s2_max,s3_mean,s3_min,s3_max
0,9,1,4.9766,1.67,8.35,5.48,2.0,9.0,5.52,2.0,9.0
1,9,2,4.9766,1.67,8.35,5.38,2.0,9.0,5.52,2.0,9.0
2,9,3,5.1770,1.67,8.35,5.64,2.0,9.0,5.68,2.0,9.0
3,9,4,5.3774,1.67,8.35,5.88,2.0,9.0,5.76,2.0,8.0
4,9,5,5.2438,1.67,8.35,5.78,2.0,9.0,5.88,2.0,9.0
5,9,6,5.1436,1.67,10.02,5.62,2.0,10.0,5.64,2.0,9.0
6,9,7,5.2438,3.34,8.35,5.74,4.0,9.0,5.70,4.0,9.0
7,9,8,5.2104,1.67,8.35,5.72,2.0,8.0,5.80,2.0,9.0
8,9,9,5.1770,1.67,8.35,5.66,2.0,9.0,5.60,2.0,9.0
9,9,10,4.8764,1.67,8.35,5.36,2.0,8.0,5.52,2.0,9.0
10,9,11,4.7762,1.67,8.35,5.28,2.0,8.0,5.48,4.0,8.0
11,9,12,5.1436,1.67,10.02,5.68,2.0,10.0,5.82,2.0,9.0
12,9,13,5.2438,1.67,8.35,5.72,2.0,8.0,5.80,2.0,9.0
13,9,14,4.9766,1.67,10.02,5.44,2.0,10.0,5.68,2.0,9.0
14,9,15,5.3106,1.67,8.35,5.82,2.0,9.0,6.00,4.0,9.0
15,9,16,5.0434,1.67,8.35,5.54,2.0,9.0,5.82,2.0,9.0
16,9,17,5.1102,1.67,8.35,5.60,2.0,9.0,6.12,4.0,9.0
17,9,18,5.1770,1.67,8.35,5.68,2.0,9.0,6.04,2.0,9.0
18,9,19,5.1770,1.67,8.35,5.62,2.0,8.0,5.72,2.0,8.0
19,9,20,4.9432,1.67,10.02,5.36,2.0,10.0,5.66,2.0,9.0
20,9,21,5.1102,0.00,10.02,5.56,0.0,10.0,6.06,2.0,9.0
21,9,22,4.9766,1.67,10.02,5.40,2.0,10.0,5.72,4.0,9.0
22,9,23,4.7762,0.00,8.35,5.18,0.0,9.0,6.00,2.0,9.0
23,9,24,4.9098,1.67,8.35,5.32,2.0,8.0,6.16,2.0,8.0
24,9,25,4.8430,0.00,8.35,5.28,0.0,9.0,6.04,2.0,9.0
25,9,26,5.0434,1.67,8.35,5.60,2.0,9.0,6.20,4.0,9.0
26,9,27,4.8430,1.67,10.02,5.32,2.0,10.0,6.08,2.0,9.0
27,9,28,4.9432,1.67,8.35,5.48,2.0,9.0,6.36,2.0,9.0
28,9,29,4.5758,1.67,8.35,5.02,2.0,9.0,6.18,2.0,9.0
29,9,30,4.6760,1.67,8.35,5.16,2.0,9.0,6.12,2.0,9.0
30,10,1,4.9432,0.00,10.02,5.42,0.0,10.0,6.12,2.0,9.0
31,10,2,4.8096,1.67,8.35,5.22,2.0,9.0,6.10,2.0,9.0
32,10,3,4.6760,1.67,8.35,5.08,2.0,9.0,5.90,2.0,9.0
33,10,4,4.3086,0.00,8.35,4.70,0.0,9.0,5.54,2.0,9.0
34,10,5,4.3420,0.00,8.35,4.80,0.0,8.0,5.80,2.0,9.0
35,10,6,4.4756,0.00,8.35,4.88,0.0,9.0,5.78,2.0,9.0
36,10,7,3.9412,0.00,8.35,4.28,0.0,9.0,5.56,2.0,9.0
37,10,8,4.4422,0.00,8.35,4.98,0.0,9.0,5.92,2.0,9.0
38,10,9,4.2752,0.00,8.35,4.72,0.0,9.0,6.04,4.0,9.0
39,10,10,4.2084,0.00,10.02,4.62,0.0,10.0,6.08,2.0,9.0
40,10,11,4.5758,1.67,8.35,5.04,2.0,9.0,6.26,2.0,9.0
41,10,12,4.4756,1.67,10.02,4.96,1.0,10.0,5.92,2.0,9.0
42,10,13,4.4088,0.00,10.02,4.94,0.0,10.0,5.82,0.0,9.0
43,10,14,3.8744,0.00,8.35,4.34,0.0,9.0,5.98,2.0,9.0
44,10,15,4.0080,0.00,8.35,4.42,0.0,8.0,5.64,2.0,8.0
45,10,16,3.5070,0.00,8.35,3.88,0.0,9.0,5.62,2.0,9.0
46,10,17,3.6406,1.67,8.35,4.06,2.0,9.0,5.02,2.0,8.0
47,10,18,3.4402,0.00,6.68,3.80,0.0,7.0,5.48,2.0,8.0
48,10,19,3.6740,0.00,8.35,4.14,0.0,8.0,5.58,2.0,8.0
49,10,20,3.7074,0.00,8.35,4.12,0.0,9.0,5.78,2.0,9.0
50,10,21,4.3086,0.00,8.35,4.78,0.0,9.0,5.86,2.0,9.0
51,10,22,3.7408,0.00,8.35,4.08,0.0,8.0,5.56,2.0,9.0
52,10,23,3.5070,0.00,8.35,3.84,0.0,9.0,5.34,2.0,8.0
53,10,24,3.8410,0.00,10.02,4.22,0.0,10.0,5.24,2.0,9.0
54,10,25,3.7074,0.00,6.68,4.16,0.0,8.0,5.48,2.0,8.0
55,10,26,3.4736,0.00,6.68,3.88,0.0,8.0,4.86,2.0,9.0
56,10,27,3.4402,0.00,8.35,3.90,0.0,9.0,5.02,2.0,9.0
57,10,28,3.4736,0.00,8.35,3.84,0.0,9.0,5.34,0.0,9.0
58,10,29,3.8744,0.00,8.35,4.26,0.0,9.0,5.80,2.0,9.0
59,10,30,3.8076,0.00,8.35,4.20,0.0,9.0,5.24,0.0,9.0
60,10,31,4.0080,0.00,8.35,4.52,0.0,9.0,5.62,2.0,9.0
61,11,1,3.6740,0.00,10.02,3.98,0.0,10.0,5.08,0.0,9.0
62,11,2,4.0748,0.00,8.35,4.46,0.0,9.0,5.14,0.0,9.0
63,11,3,3.4068,0.00,8.35,3.74,0.0,9.0,5.06,2.0,9.0
64,11,4,3.7074,0.00,8.35,4.08,0.0,9.0,5.02,2.0,9.0
65,11,5,3.0060,0.00,6.68,3.32,0.0,7.0,4.56,2.0,9.0
66,11,6,3.0394,0.00,8.35,3.36,0.0,9.0,4.60,0.0,9.0
67,11,7,3.2064,0.00,10.02,3.56,0.0,10.0,4.44,0.0,9.0
68,11,8,3.6072,1.67,8.35,3.94,2.0,9.0,4.50,2.0,9.0
69,11,9,2.9392,0.00,6.68,3.18,0.0,7.0,4.60,0.0,9.0
70,11,10,3.0060,0.00,6.68,3.24,0.0,7.0,4.46,0.0,8.0
71,11,11,2.8056,0.00,6.68,3.06,0.0,8.0,4.26,0.0,8.0
72,11,12,2.6052,0.00,6.68,2.86,0.0,8.0,3.86,0.0,8.0
73,11,13,3.1396,0.00,6.68,3.52,0.0,7.0,4.12,0.0,8.0
74,11,14,3.1396,0.00,6.68,3.50,0.0,8.0,4.06,0.0,8.0
75,11,15,2.6052,0.00,6.68,2.92,0.0,8.0,4.10,2.0,8.0
76,11,16,2.4716,0.00,8.35,2.80,0.0,9.0,3.76,0.0,8.0
77,11,17,2.7722,0.00,6.68,3.04,0.0,7.0,3.90,0.0,8.0
78,11,18,2.9392,0.00,8.35,3.22,0.0,8.0,4.32,0.0,8.0
79,11,19,2.9392,0.00,5.01,3.24,0.0,6.0,4.40,2.0,8.0
80,11,20,2.7722,0.00,5.01,3.08,0.0,6.0,4.04,0.0,8.0
81,11,21,2.5050,0.00,5.01,2.84,0.0,6.0,4.00,0.0,8.0
82,11,22,2.5384,0.00,6.68,2.84,0.0,7.0,3.52,0.0,8.0
83,11,23,2.3046,0.00,5.01,2.56,0.0,5.0,3.80,0.0,6.0
84,11,24,2.4382,0.00,5.01,2.70,0.0,6.0,3.62,0.0,8.0
85,11,25,2.4716,0.00,6.68,2.74,0.0,7.0,3.80,0.0,8.0
86,11,26,2.2712,0.00,5.01,2.50,0.0,5.0,3.36,0.0,6.0
87,11,27,2.4048,0.00,5.01,2.62,0.0,6.0,3.62,0.0,8.0
88,11,28,2.7054,0.00,5.01,2.96,0.0,6.0,3.58,0.0,9.0
89,11,29,2.4048,0.00,5.01,2.70,0.0,6.0,3.28,0.0,8.0
90,11,30,1.8704,0.00,5.01,2.12,0.0,5.0,3.20,0.0,8.0

In [263]:
fallscores.rolling(7).agg({'s1_mean':'mean', 's2_mean':'mean','s3_mean':'mean'})[3:]

     s1_mean   s2_mean   s3_mean
3        NaN       NaN       NaN
4        NaN       NaN       NaN
5        NaN       NaN       NaN
6   5.162686  5.645714  5.671429
7   5.196086  5.680000  5.711429
8   5.224714  5.720000  5.722857
9   5.181771  5.680000  5.700000
10  5.095886  5.594286  5.660000
11  5.081571  5.580000  5.651429
12  5.095886  5.594286  5.674286
13  5.057714  5.551429  5.671429
14  5.072029  5.565714  5.700000
15  5.052943  5.548571  5.731429
16  5.086343  5.582857  5.817143
17  5.143600  5.640000  5.897143
18  5.148371  5.631429  5.882857
19  5.105429  5.580000  5.862857
20  5.124514  5.597143  5.917143
21  5.076800  5.537143  5.877143
22  5.038629  5.485714  5.902857
23  5.010000  5.445714  5.908571
24  4.962286  5.388571  5.908571
25  4.943200  5.385714  5.977143
26  4.928886  5.380000  6.037143
27  4.905029  5.368571  6.080000
28  4.847771  5.314286  6.145714
29  4.833457  5.311429  6.162857
30  4.838229  5.325714  6.157143
31  4.833457  5.317143  6.165714
32  4.780971  5.242857  6.122857
33  4.704629  5.154286  6.045714
34  4.618743  5.057143  5.965714
35  4.604429  5.037143  5.908571
36  4.499457  4.911429  5.828571
37  4.427886  4.848571  5.800000
38  4.351543  4.777143  5.791429
39  4.284743  4.711429  5.817143
40  4.322914  4.760000  5.920000
41  4.342000  4.782857  5.937143
42  4.332457  4.791429  5.942857
43  4.322914  4.800000  6.002857
44  4.260886  4.720000  5.962857
45  4.151143  4.600000  5.902857
46  4.070029  4.520000  5.751429
47  3.907800  4.342857  5.640000
48  3.793286  4.225714  5.591429
49  3.693086  4.108571  5.585714
50  3.755114  4.171429  5.568571
51  3.716943  4.122857  5.557143
52  3.716943  4.117143  5.517143
53  3.745571  4.140000  5.548571
54  3.783743  4.191429  5.548571
55  3.755114  4.154286  5.445714
56  3.716943  4.122857  5.337143
57  3.597657  3.988571  5.262857
58  3.616743  4.014286  5.297143
59  3.659686  4.065714  5.282857
60  3.683543  4.108571  5.337143
61  3.678771  4.082857  5.280000
62  3.764657  4.165714  5.320000
63  3.759886  4.142857  5.325714
64  3.793286  4.177143  5.280000
65  3.669229  4.042857  5.102857
66  3.559486  3.922857  5.011429
67  3.444971  3.785714  4.842857
68  3.435429  3.780000  4.760000
69  3.273200  3.597143  4.682857
70  3.215943  3.525714  4.597143
71  3.087114  3.380000  4.488571
72  3.029857  3.314286  4.388571
73  3.044171  3.337143  4.320000
74  3.034629  3.328571  4.265714
75  2.891486  3.182857  4.208571
76  2.824686  3.128571  4.088571
77  2.791286  3.100000  4.008571
78  2.810371  3.122857  4.017143
79  2.858086  3.177143  4.094286
80  2.805600  3.114286  4.082857
81  2.714943  3.020000  4.074286
82  2.705400  3.008571  3.991429
83  2.681543  2.974286  3.997143
84  2.633829  2.925714  3.957143
85  2.567029  2.857143  3.882857
86  2.471600  2.751429  3.734286
87  2.419114  2.685714  3.674286
88  2.447743  2.702857  3.614286
89  2.428657  2.682857  3.580000
90  2.366629  2.620000  3.494286

In [259]:
#winterscores.to_csv('../data/winterscores.csv')
#springscores.to_csv('../data/springscores.csv')
#summerscores.to_csv('../data/summerscores.csv')
#fallscores.to_csv('../data/fallscores.csv')

In [129]:
#winter1.to_csv('../data/winter1.csv')
#spring1.to_csv('../data/spring1.csv')
#summer1.to_csv('../data/summer1.csv')
#fall1.to_csv('../data/fall1.csv')